<!DOCTYPE html>
<html>
  
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>
      {$app_info[0]['wxname']}商城
    </title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/shop/css/public.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/shop/css/home.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/shop/css/footer.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/shop/css/reset.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/shop/css/common1.css" media="all">
    <!--首页幻灯js-->
    <script type="text/javascript" src="__PUBLIC__/shop/css/zepto.js"></script>
    <script type="text/javascript" src="__PUBLIC__/shop/css/swipe.js"></script>
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="__PUBLIC__/js/zload.js"></script>
	<script>
	 $(function() {
	 $(".good_list img").lazyload({ 
			effect : "fadeIn",
			threshold : 200
		});
	 });
	
	</script>
    <!--首页幻灯js end-->
  </head>
  
  <body style="background:#E8E4E4;padding-bottom:40px;">
    <include file="./Application/Shop/View/Index_wxjs.html" />
    <div style="position:fixed;z-index:999;width:100%;height:100%;background:rgba(0,0,0,0.6);display:none;"
    id="none">
    </div>
    <div style="overflow:hidden;">
      <div class="searchnew" id="searchContainer" style="width:100%;padding:10px 0;">
        <div class="products-search-item" style="margin-top:0;">
          <div class="main-nav-search ">
            <form action="{:U('search')}" method="post">
              <div class="input-group" style="z-index:1000;">
                <input autocomplete="off" id="input-main-nav-search" class="form-control"
                name="keyword" value="" style="width:98%;height:100%;" title="产品搜索" placeholder="输入产品名称"
                type="search">
                <span class="input-group-btn">
                  <button class="btn5 submit" type="submit" id="btnSearch" style="height:100%;background:#777;border:1px solid #777;">
                    <i class="icon iconfont" style="color:#fff;">&#xe602;</i>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="banner openwebview" style="height:auto !important;">
      <div style="-webkit-transform:translate3d(0,0,0);">
        <div id="banner_box" class="box_swipe">
          <ul style="list-style: none outside none; transition-duration: 500ms;">
            <volist name="bannar_info" id="vv">
              <li>
                <a onClick="return false;">
                  <img src="{$vv.pic_url}" alt="2" style="width:100%;">
                </a>
              </li>
            </volist>
          </ul>
         <!--  <ol>
            <volist name="bannar_info" id="vv" key="k">
              <li <if condition="$k eq 1">
                class="on"
                </if>
                >
              </li>
            </volist>
          </ol> -->
        </div>
      </div>
      <script>
        $(function() {
          new Swipe(document.getElementById('banner_box'), {
            speed: 500,
            auto: 3000,
            callback: function() {
              var lis = $(this.element).next("ol").children();
              lis.removeClass("on").eq(this.index).addClass("on");
            }
          });
          $('#input-main-nav-search').click(function() {
            $('#none').css('display', 'block');
          });
          $('#input-main-nav-search').blur(function() {
            $('#none').css('display', 'none');
          });
        });
      </script>
    </div>
   
      <div class="wrap" style="margin-top:-25px;">
        <!--广告-->
        <volist name="ad" id="v">
          <a href="{$v.link}">
            <div style="padding:5px;background:#fff;">
              <img src="{$v.pic_url}" width="100%">
            </div>
          </a>
        </volist>
		</div>
		<style>
		.good_list .box{background:#fff;padding:5px;text-align:left;}
		.good_list .title .box{text-align:left !important;border-bottom:1px solid #E8E8E8;line-height:30px;}
		.good{border-bottom:1px solid #E8E8E8;}
		.good div{text-align:left !important;}
		</style>
	<div class="good_list" id="good_list">
		<if condition="$best_list neq null ">
		<div class="grid gutter-1px mb" style="background:#fff;">
			<div class="grid-item 12/12 title"><div class="box tc bottom-nav" style="font-size:16px;">
			<i class="icon iconfont" style="font-size:16px;">&#xe616;</i> 精选推送
			</div></div>
			<volist name="best_list" id="vv">
			<div class="grid-item 6/12 good" onclick="shop_url(this)" data-url="{:U('good')}?good_id={$vv.good_id}"><div class="box tc bottom-nav">
			<figure style="margin-bottom:10px;"><img src="__PUBLIC__/images/shop_load.png" data-original="{$vv.pic_url}" alt="Image alt text"></figure>
			<div style="white-space:nowrap;overflow:hidden;color:#555;">{$vv.good_name}</div>
			<div class="icon iconfont" style="font-size:14px;color:{:C('WAP_COLOR')};">&#xe614; {$vv.good_price}</div>
			</div></div>
			</volist>
		</div>
		</if>
		<if condition="$hot_list neq null ">
		<div class="grid gutter-1px mb" style="background:#fff;">
			<div class="grid-item 12/12 title"><div class="box tc bottom-nav" style="font-size:16px;">
			<i class="icon iconfont" style="font-size:16px;">&#xe617;</i> 热卖商品
			</div></div>
			<volist name="hot_list" id="vv">
			<div class="grid-item 6/12 good" onclick="shop_url(this)" data-url="{:U('good')}?good_id={$vv.good_id}"><div class="box tc bottom-nav">
			<figure style="margin-bottom:10px;"><img src="__PUBLIC__/images/shop_load.png" data-original="{$vv.pic_url}" alt="Image alt text"></figure>
			<div style="white-space:nowrap;overflow:hidden;color:#555;">{$vv.good_name}</div>
			<div class="icon iconfont" style="font-size:14px;color:{:C('WAP_COLOR')};">&#xe614; {$vv.good_price}</div>
			</div></div>
			</volist>
		</div>
		</if>
		<if condition="$new_list neq null ">
		<div class="grid gutter-1px mb" style="background:#fff;">
			<div class="grid-item 12/12 title"><div class="box tc bottom-nav" style="font-size:16px;">
			<i class="icon iconfont" style="font-size:16px;">&#xe615;</i> 新品推荐
			</div></div>
			<volist name="new_list" id="vv">
			<div class="grid-item 6/12 good" onclick="shop_url(this)" data-url="{:U('good')}?good_id={$vv.good_id}"><div class="box tc bottom-nav">
			<figure style="margin-bottom:10px;"><img src="__PUBLIC__/images/shop_load.png" data-original="{$vv.pic_url}" alt="Image alt text"></figure>
			<div style="white-space:nowrap;overflow:hidden;color:#555;">{$vv.good_name}</div>
			<div class="icon iconfont" style="font-size:14px;color:{:C('WAP_COLOR')};">&#xe614; {$vv.good_price}</div>
			</div></div>
			</volist>
		</div>
		</if>
	</div>
		
		
		
       
        <div class="layout-login-area" style="padding：6px;margin:10px 0;">
         
          <div style="font-size:12px;color:#999;">
            © {:C('COPYRIGHT')}
          </div>
        </div>
      
    
    <div style="position:fixed;bottom:0;">
     <include file="./Application/Shop/View/wap_footer.html" />
    </div>
	
  </body>

</html>