<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>酿造工艺</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home/css/intro.css"/>
</head>
<body>
<div class="app_content app_bg">
	
<div class="article">
<if condition="$Think.session.agent_token eq OZfBaUKX">
	<header>
		<div class="fixed header_inner">
			<div class="head">
				<span class="left_arrow" onclick="javascript:history.go(-1)"><img src="__PUBLIC__/home1/img/left-white.png"/></span>
				<span>酿造工艺</span>
				<div class="clear"></div>
			</div>
		</div>
	</header>
</if>
	<div class="desc">
		<p class="text">
			贵州茅台酒厂(集团)保健酒业酿造工艺和“茅台酒”的酿造工艺一脉相承。在原料选择上，古法工艺酿造的酱香白酒都是选择茅台地产的红缨子有机糯高粱。
			是茅台镇特产的一种有机糯高粱。也正是由于有了它，茅台镇酱酒才有了纯正酱香味。
			这种红梁只能在茅台镇特有的水分、土壤和气候环境下种植，这也是茅台镇酱酒为什么具有不可复制性的原因之一。
			当地红梁不同于其他高粱，它颗粒饱满，粒小皮厚，能经受多次蒸煮，正是由于红高粱有了这些特性，才能成就酱酒灵魂工艺:九蒸，七取。
			顺应茅台镇当地气候特点，重阳投料，一年一个生产周期；酿造的酒体吸纳了春夏秋冬的节气精华，这完全不同于其他白酒随时投料随时生产的特点；
			作为酿造的另一个重要原料——水，赤水河的水。说她神秘一点也不夸张，"赤"者，"流卷泥沙，每遭雨涨，水色浑赤，河以之名"。
			这条河就是为酒流淌着变化着，每年河水按照酿酒的程序变化这她的节奏。
		</p>
		<p class="text">
			茅台镇天然的地形、土壤、气候、水源和长期酿酒活动形成的微生物生态系统组合出奇特的“酒窖”式地形结构；
			使得茅台镇于其他区域所酿出的酱香酒风格差异居大，是世界上不可复制的酱酒圣地。酱酒独特的工艺和品质要求，茅台镇核心产区7.5平方公里根据土地和环保限制，
			最大产能每年不超过20万千升，只占中国白酒年产量的2%；更突显出酱酒的价值和稀缺。在这样的稀缺背景下，做一个接地气察民情的酒实属不易。
		</p>
		
	</div>
	
</div>
</div>
</body>
<script src="__PUBLIC__/home/home/js/font.js" type="text/javascript" charset="utf-8"></script>
</html>
