<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>质量认证</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home/css/common.css"/>
<style>
.image{display: block;width: 100%;}
</style>
</head>
<body>
<div class="app_container">
<if condition="$Think.session.agent_token eq OZfBaUKX">
	<header>
		<div class="fixed header_inner">
			<div class="head">
				<span class="left_arrow" onclick="javascript:history.go(-1)"><img src="__PUBLIC__/home1/img/left-white.png"/></span>
				<span>质量认证</span>
				<div class="clear"></div>
			</div>
		</div>
	</header>
</if>
	<img class="image" src="__PUBLIC__/home/home/img/renzheng1.jpg"/>
	<img class="image" src="__PUBLIC__/home/home/img/renzheng2.jpg"/>
	<img class="image" src="__PUBLIC__/home/home/img/renzheng3.jpg"/>
</div>
</body>
<script src="__PUBLIC__/home/home/js/font.js" type="text/javascript" charset="utf-8"></script>
</html>
