<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>宣传视频</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home1/css/common.css"/>
<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home1/css/intro.css"/>-->
<style>
.app_container{max-width: 640px;margin: auto;background: #000000;height: 100%;}
iframe{width: 100%;max-width: 640px;margin: auto;}	

</style>
</head>
<body>
<div class="app_container">
<if condition="$Think.session.agent_token eq OZfBaUKX">
<header>
	<div class="fixed header_inner">
		<div class="head">
			<span class="left_arrow" onclick="javascript:history.go(-1)"><img src="__PUBLIC__/home1/img/left-white.png"/></span>
			<span>宣传视频</span>
			<div class="clear"></div>
		</div>
	</div>
</header>
</if>
<iframe frameborder="0" width="640" height="498" src="https://v.qq.com/iframe/player.html?vid=o0535207zjb&tiny=0&auto=0" allowfullscreen></iframe>
</div>
</body>
<script src="__PUBLIC__/home/home/js/font.js" type="text/javascript" charset="utf-8"></script>
</html>
