<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>免责声明</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home1/css/intro.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home/css/intro.css"/>
<style>

article{display: block;padding: .25rem .2rem;color: #fff;}
.title{font-size: .35rem;color: #fff;text-align: center;margin-bottom: .25rem;}
article p{line-height: 1.6;letter-spacing: .02rem;}
p.top{margin-bottom: .2rem;}
</style>
</head>
<body>
<div class="app_content app_bg">
	<div class="article">
	<if condition="$Think.session.agent_token eq OZfBaUKX">
		<header>
			<div class="fixed header_inner">
				<div class="head">
					<span class="left_arrow" onclick="javascript:history.go(-1)"><img src="__PUBLIC__/home1/img/left-white.png"/></span>
					<span>免责声明</span>
					<div class="clear"></div>
				</div>
			</div>
		</header> 
	</if>	
	<article>
		<div class="title">免责声明</div>
		<p class="top">
感谢您访问、浏览或使用亿赢天下商城网络平台（以下亦简称“本平台”），在使用本平台前，请仔细阅读、理解本声明。
请注意访问或使用本平台（如复制任何资讯、注册成为本平台的网站用户）即表示您接受本声明的所有条款，同意受本声明的约束。
如果您不接受本声明的任一条款，请您立即停止访问或使用本平台，并删除、销毁所有包含本平台内容的复制件。
		</p>
		<p>
			一、平台的使用<br />
本平台仅用于会员即本平台的消费者的产品采购、产品选择等商业用途，对本平台的使用不得违反法律、法规、社会道德及本平台的相关规定。

		</p>
		<p>
			二、信息发布<br />
由于本平台提供的网络服务关系到您的交易安全，关系到每个会员（含商城经营者和用户）的合法权益。为保证交易安全，您确认同意：<br />
1、您提供的注册信息及其他在本平台上发布的任何信息均是真实、准确、完整、合法有效的；<br />
2、您提供的注册资料如发生变化，请务必及时在本平台进行更新；<br />
3、本平台可能会不定期的将交易资讯、行业资讯、促销活动等通过商城公告等方式通知您。且您在本平台注册后，视为您同意接受本平台以公告等方式的通知。

		</p>
		<p>
			三、隐私权政策<br />
1、尊重会员隐私是本平台的一项基本政策。为了给您提供更准确、更优质的服务，
本平台会按照本隐私权政策的规定对您提供的信息采取保密措施。<br />
2、您向本平台提供的信息受到本平台的保护，但如果存在以下情况，本平台将披露您的信息：<br />
①征得您的同意；<br />
②您对自身信息保密不当原因，导致您非公开信息泄露；<br />
③由于网络线路、黑客攻击、计算机病毒、政府管制等原因造成的信息泄露、丢失、被盗用或被篡改等；<br />
④根据法律法规的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；<br />
⑤因您违反法律法规、或者本平台服务协议或其他规定的情况，需要向第三方披 露。<br />
3、虽然本平台对您的信息、密码等采取了安全保护措施，确保您的信息不丢失，不被滥用和变造。但是请您注意在信息网络上不存在“完善的安全措施”，所以请您妥善保管您的账户及密码信息。如您发现您的账户、密码已经泄露或存在风险，请您立即联系本平台的客服，以便本平台采取相应的措施。

		</p>
		<p>
			四、权利声明<br />
对于本网站中所含的知识产权和其他权利，您应当予以尊重。如果内容未含权利声明，并不代表本网站对其不享有权利和不主张权利，您应根据法律、法规及诚实信用原则尊重权利人的合法权益并合法使用该内容。未经本平台许可，任何人不得擅自（包括但不限于：以
非法的方式复制、传播、展示、下载）使用。否则，本平台运营者将依法追究您的法律
责任。

		</p>
		<p>
			五、免责声明<br />

1、本平台上关于会员对本商城产品的购买和采购均属于个人自由买卖之商业行为，凡是已支付货款会员均由会员自行自愿行为，因此非本商城产品质量原因而产生的责任均由会员本人全部承担，与本平台无关。<br />
2、本平台因维护、升级可能会不定期的中断提供服务；因您操作不当、电脑病毒或黑客攻击可能也会引发暂时的服务中断。您接受本声明，视为同意上述单方面的服务中断。本平台将会对可预料的中断服务提供告知（如在平台上公告等方式通知）。如发生服务中断，本平台会争取在最短的时间内恢复服务。但是，因上述原因导致您遭受的损失，由您本人承担。<br />
3、本平台对于因战争、地震、洪水、火灾等不可抗力原因或互联网运输问题、信号线路问题等其他不可预见、不可控制的原因而导致本平台无法正常提供服务，或者导致您的信息泄露、利益受损不负责任。但是，本平台会在上述事由发生后积极挽救，努力使您的利益损失降到最低。<br />
4、“不可抗力”、“意外事件”是指无法预见、无法克服或避免的，且对客户、或平台造成重大影响的客观事件。包括但不限于自然灾害如洪水、地震、瘟疫流行和风暴等，以及社会事件，如战争、动乱、立法，政府行为等。客户同意：鉴于互联网的特殊性，如黑客攻击、网络中断等，凡出现非本平台过错之网络问题的，均为不可抗力。<br />

		</p>
		<p>
			六、其他<br />
1、如您对本声明有任何意见或建议，请和本平台客服联系。<br />
2、如双方就本协议内容或其商业行为发生任何争议，双方尽量友好协商解决；协商不成时，任何一方均可在本平台所在地人民法院提起诉讼。<br />
3、本声明自发布之日起，即对访问和使用本平台的任何第三方发生法律效力。

		</p>
	</article>
	
	</div>
</div>
</body>
<script src="__PUBLIC__/home/home1/js/font.js" type="text/javascript" charset="utf-8"></script>
</html>
