<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>䣽酒的故事</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/home/css/intro.css"/>
</head>
<body>
<div class="app_container story" style="height: auto;background:#010101;">
<if condition="$Think.session.agent_token eq OZfBaUKX">
	<header>
		<div class="fixed header_inner">
			<div class="head" style="background:#010101;">
				<span class="left_arrow" onclick="javascript:history.go(-1)"><img src="__PUBLIC__/home1/img/left-white.png"/></span>
				<span>䣽酒的故事</span>
				<div class="clear"></div>
			</div>
		</div>
	</header>
</if>
	<img class="image" src="__PUBLIC__/home/home/img/story.png"/>
	<div class="desc">
		<p class="text text1">
			人生如酒，有时平静，有时波澜；有时苦，有时甜；慢慢的我们寄望了她太多的功能；
			有诗和远方，要功名地位，求事业财富。“䣽”酒是有情绪的水；酒是水质的诗，诗是心酿的酒。
			三千年读史，不外功名尘土；九万里悟道，总归诗酒田园；
		</p>
		<p class="text">
			人生就是一场选择，选择什么样的酒就是选择什么的结果，选择什么朋友就是选择什么样的圈层；
			为了这杯酒，茅台集团保健酒业有限公司汇集了大量的社会资源，
			调酒大师、酿造泰斗、国学学人、网络精英、营销牛人，在这杯酒里跨界碰撞，就为这杯酒能释放正能量，
			成为一杯你身边的酒，温暖的酒，从百姓中来，到百姓中去。做扁平化市场，建心灵的榜样。
		</p>
	</div>
</div>
</body>
<script src="__PUBLIC__/home/home/js/font.js" type="text/javascript" charset="utf-8"></script>
</html>
