@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #333333;
}
.clear{
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}
.wrap{
	font-size: 14px;
	color: #666;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	font-family: 100% Microsoft Yahei,微软雅黑, Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
body {		
	background: #f0f0f0;
	font-family: "Microsoft YaHei"
}
.img-block{
	width: 100%;
	display: block;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	background: #fff;
	border-top: 1px #e5e5e5 solid;
	max-width: 640px;
	margin: auto;
}


