*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
.clear{
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}
i{
	font-style: normal;
}
.f_left{
	float: left;
}
.f_right{
	float: right;
}
.panes .pane {
	display: none;
}

.panes .pane:first-child {
	display: block;
}
html,body{
	width: 100%;
	height: 100%;
}
body {	
	background: #fff;		
	font-family: "Microsoft YaHei";
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-size:.25rem;
	color: #000;
}
.app_container{
	max-width: 640px;
	margin:0 auto;
	background: #f8f8f8;
	width: 100%;
	height: 100%;
}


/**************header*****************/
.fixed {	
	position: fixed;
	left: 0;	
	right: 0;	
	width: 100%;
	max-width: 640px;
	margin: auto;
	background: #fff;					
}
header{
	height: 0.81rem;
}
.header_inner {
	z-index: 9999;
	top: 0;
	border-bottom: 0.01rem #2a2a2a solid;
	/*opacity: .5;*/
}

.header_inner .head {
	background: #161b1e;
	text-align: center;
	height: 0.8rem;
	line-height: 0.8rem;
	padding: 0 .1rem;
	/*font-size: .25rem;*/
	color: #fff;
}

.header_inner .head .left_arrow {
	float: left;
	margin-top: -1px;
}

.header_inner .head .left_arrow img {
	width: .3rem;
	vertical-align: middle;
}

.header_inner .head .r-icon {
	float: right;
	color: #36aefe;
}

.header_inner .head .r-icon  img {
	width: .4rem;
	vertical-align: middle;
}

/***************footer***************/



footer {
	background: #fff;
	bottom: 0;
	z-index: 9999;
	line-height: 1.3;
	/*border-top: .01rem #e5e5e5 solid;*/
	height: .9rem;
}

footer a {
	margin-top: .05rem;
	margin-bottom: .05rem;
	float: left;
	width: 25%;
	text-align: center;
	background: #fff;
	/*padding: 5px 0 3px;*/
	font-size: .25rem;
	
	/*padding: .05rem 0;*/
}

footer img {
	width: .3rem;
}
footer a {
	width: 33.33%;
}

.foot-active {
	color: #FF951D;
}