
				<table class="table table-striped" style="font-size:14px;">
					<th>ID</th>
					<th>昵称</th>
					<th>会员等级</th>
					<th>钱包余额</th>
					<th>提现金额</th>
					<th>请求时间</th>
					<th>进度</th>
					<volist name="info" id="vv" key="kk">
					<tr id="{$kk}" style="font-size:13px;">
						<td>{$vv.user_id}</td>
						<td>{$vv.user_info.nickname}</td>
						<td>{$vv.user_info.agent_name}</td>
						<td>{$vv.user_info.shop_income}</td>
						<td style="color:Red">{$vv.fee}</td>
						<td>{$vv.time}</td>
						
						<td>
						<if condition="$vv.state eq 1 ">
						<button class="btn btn-link">已提现</button>
						<else />
						<button class="btn btn-sm btn-danger" onclick="shenhe(this,'{$vv.id}')">审核</button>
						<button class="btn btn-sm btn-danger" onclick="del(this,'{$vv.id}')">删除</button>
						</if>
						</td>
					</tr>
					</volist>
				</table>
				<div class="pagelist">{$page}</div>
			