<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/weui.min.css"/>
	<link rel="stylesheet" href="__PUBLIC__/admin/css/base.css" />
	<title>账号绑定</title>
</head>
<body>
	<div class="container-fluid" style="text-align: center">
		<img src="__PUBLIC__/Admin/images/menu.jpg" style="width: 70%;height: 800px;"/>
		<p>请到对应的公众号中设置菜单,你的页面地址是：{$url}</p>
	</div>
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/admin/layer/layer.js"></script>
</body>
</html>