<!--<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/base.css">
<link href="__PUBLIC__/admin/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<style>
    .jifen{
        border: 0px;
        border-radius: 4px;
        padding:10px;
        width: 100px;
        height: 30px;
    }
</style>
<div class="container-fluid main">
    <div class="main-top"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>领导奖</div>
    <div class="main-content well" style="height: 1700px;">
        <h5 class="alert alert-success" style="padding:5px 10px;line-height:30px;">领导奖</h5>
        <div class="form-horizontal" style="height: 400px">
            <form action="{:U('lingdaojiang')}" method="post" id="dx" enctype="multipart/form-data" onsubmit="return true">

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">5000</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee1" class="inputstyle"  value="{$daili.fee1}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>

                    <label for="inputEmail3" class="col-sm-2 control-label">2万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee2" class="inputstyle"  value="{$daili.fee2}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">5万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee3" class="inputstyle"  value="{$daili.fee3}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">10万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee4" class="inputstyle"  value="{$daili.fee4}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">20万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee5" class="inputstyle"  value="{$daili.fee5}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">30万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee6" class="inputstyle"  value="{$daili.fee6}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">50万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee7" class="inputstyle"  value="{$daili.fee7}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">100万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee8" class="inputstyle"  value="{$daili.fee8}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">200万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee9" class="inputstyle"  value="{$daili.fee9}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">500万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee10" class="inputstyle"  value="{$daili.fee10}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">1000万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee11" class="inputstyle"  value="{$daili.fee11}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">2000万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee12" class="inputstyle"  value="{$daili.fee12}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">5000万</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee13" class="inputstyle"  value="{$daili.fee13}"  placeholder="" />　%　
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <label for="inputEmail3" class="col-sm-2 control-label">1亿</label>
                    <div class="col-sm-6">
                        <!--<input type="text" class="form-control"  style="width:30%" name="qf_jine" value="{$data['qf_jine']}" placeholder="">-->
                        <input class="jifen" type="text" name="fee14" class="inputstyle"  value="{$daili.fee14}"  placeholder="" />　%　
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">修改</button>
                </div>
                <input type="hidden" name="id" value="{$daili.id}"/>
            </form>

        </div>
    </div>
</div>
<!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/admin/js/fileinput.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/fileinput_locale_zh.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layer/layer.js"></script>
<script src="__PUBLIC__/admin/js/jquery.js"></script>
<script>

</script>