<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">

<link rel="stylesheet" href="__PUBLIC__/admin/css/base.css">
<style>
.btn-default{background:#44b549;color:#fff;}
.col-sm-4 a{text-decoration:none;}
.form-group1:hover{background:#fff; }
.view{padding:30px 0;background:#7cbae5;margin:10px 20px;color:#fff;text-align:center;text-decoration:none;}
.view:hover{background:#73afd9;}
.number{font-size:30px;}
</style>
<div class="container-fluid main">
	<div class="main-top"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>应用中心--公排复制</div>
	<div class="main-content">
  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">公排概览</a></li>
		<li role="presentation"><a href="#home" onclick="set()" aria-controls="home" role="tab" data-toggle="tab">公排设置</a></li>
		<li role="presentation"><a href="" onclick="to()" aria-controls="" role="tab" data-toggle="tab">应用中心</a></li>	
	  </ul>
<style>

</style>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/admin/layer/layer.js"></script>
<script>
function to(){location.href="{:U('yingyong/index')}";}
function set(){location.href="{:U('gongpai/set')}";}
var type = 1;
$().ready(function(){
getpage(1);
});

function more(id){
	type = id;
	getpage(1);
}

function getpage(p){
	var user_id = $('#user_id').val();
	$('#list').html('<div style="text-align:center;margin-top:30px;"><img src="__PUBLIC__/admin/images/loading.gif" width="60px" ></div>');
	$("#list").load(
		"{:U('index_more')}?p="+p+"&type="+type+"&user_id="+user_id,
		function() {}
	);
}


</script>

	<div class="well" style="padding-bottom:100px;">
		<div class="col-sm-12 alert-success" style="font-size:14px;padding:10px 20px;margin-bottom:10px;">数据总览</div>
		<div class="col-sm-4">
			<a href="javascript:;" onclick="more(1)"><div class="view">
				<div class="inner">
				<em class="number">{$gongpai_user_num}</em> 人<div class="title">参与点位</div>
				</div>
			</div></a>
		</div>
		<div class="col-sm-4">
			<a href="javascript:;" onclick="more(2)"><div class="view" style="background:#d9534f">
				<div class="inner">
				<em class="number">{$gongpai_user_out_num}</em> 人<div class="title">出局总次</div>
				</div>
			</div></a>
		</div>
		<div class="col-sm-4">
			<a href="javascript:;" onclick="more(3)"><div class="view" style="background:#f0ad4e;">
				<div class="inner">
				￥<em class="number">{$hb_all_fee}</em><div class="title">红包发放金额</div>
				</div>
			</div></a>
		</div>
		<div class="col-sm-12 alert-danger" style="font-size:14px;padding:10px 20px;margin-bottom:10px;">详细数据</div>
			<div class="btn-group" style="margin:20px 0;">
			 
			   <button type="button" class="btn btn-warning">会员ID</button>
			  <div class="btn-group">
			   <input type="text"  class="form-control" id="user_id">
			  </div>
			   <button type="button" class="btn btn-warning" onclick="getpage(1)">查询</button>
			</div>	
		<div id="list"></div>
		<div style="clear:both"></div>
	</div>
		
	 	
	
</div>

