<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/base.css">
<link href="__PUBLIC__/admin/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<div class="container-fluid main">
	<div class="main-top"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>信息统计</div>
	<div class="main-content">

		<div>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">三维统计</a></li>		    
		  </ul>
		  
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
				<div class="alert alert-success" style="padding:5px 10px;margin:15px 0;line-height:30px;">
					统计按照会员直推数达到90人以上统计其1-6度数
				</div>
				<div id="list">
				<table class="table table-bordered table-hover" style="font-size:14px;margin-top:10px;">
					<th>头像</th>
					<th>会员名称</th>
					<th>会员ID</th>
					<th>直推人数</th>
					<th>1度人数</th>
					<th>2度人数</th>
					<th>3度人数</th>
					<th>4度人数</th>
					<th>5度人数</th>
					<th>6度人数</th>
					<th>是否达标</th>
					
					<volist name="info" id="vv" key="kk" empty="暂无数据">
					<tr id="{$kk}" style="font-size:13px;">
						<td><img src="{$vv.headimgurl}" width="30px"></td>
						<td>{$vv.nickname}</td>
						<td>{$vv.user_id}</td>
						<td>{$vv.count}</td>
						<td><font color="red">{$vv.1}</font>/3</td>
						<td><font color="red">{$vv.2}</font>/9</td>
						<td><font color="red">{$vv.3}</font>/27</td>
						<td><font color="red">{$vv.4}</font>/81</td>
						<td><font color="red">{$vv.5}</font>/243</td>
						<td><font color="red">{$vv.6}</font>/729</td>
						<td><if condition="$vv.is_true eq 1"><font color="red">达标</font><else />前6度未满，未达标</if></td>
					</tr>
					</volist>
					
				</table>
				<div class="pagelist">{$page}</div>
		    </div>
		    </div>
		  </div>
		</div>
		
	</div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>

<script src="__PUBLIC__/admin/js/fileinput.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/fileinput_locale_zh.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layer/layer.js"></script>
<script>
	$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
//getpage(1);
function getpage(p){
var user_id = $('#user_id').val();//alert(sn);
	$('#list').html('<div style="text-align:center;margin-top:30px;"><img src="__PUBLIC__/admin/images/loading.gif" width="60px" ></div>');
	$("#list").load(
		"{:U('erwei_ajax')}?p="+p+"&user_id="+user_id,
		function() {}
	);
}

</script>