<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/base.css">
<link href="__PUBLIC__/admin/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<div class="container-fluid main">
	<div class="main-top"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>应用中心</div>
	<div class="main-content">

		<div>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">管理面板</a></li>		    
		    <li role="presentation"><a href="" onclick="to()" aria-controls="" role="tab" data-toggle="tab">应用市场</a></li>		    
		  </ul>
		  
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
				
				<div class="alert alert-success" style="padding:5px 10px;margin:15px 0;line-height:30px;">
					当前应用列表，管理平台应用
				</div>
				<table class="table table-striped" style="font-size:14px;">
					<th>应用ID</th>
					<th>应用名称</th>
					<th>应用描述</th>
					<th>状态</th>
					<th>操作</th>
					<volist name="info" id="vv" key="k">
					<tr style="font-size:13px;">
						<td>{$k}</td>
						<td>{$vv.app_name}</td>
						<td>{$vv.app_desc}</td>
						<td>
						<switch name="vv['state']">
						<case value='0'>卸载</case>
						<case value='1'>上线</case>
						</switch>
						</td>
						<td>
						<if condition="$vv.state eq 0 ">
						<button class="btn btn-sm btn-success" onclick="change('{$vv.app_id}','1')">安装</button>
						<else />
						<a href="<php>echo U($vv['url']);</php>"><button class="btn btn-sm btn-warning">管理</button></a>
						<button class="btn btn-sm btn-danger" onclick="change('{$vv.app_id}','0')">卸载</button>
						</if>
						</td>
					</tr>
					</volist>
				</table>
				<div class="pagelist">{$page}</div>
		    </div>
		
		  </div>
		</div>
		
	</div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>

<script src="__PUBLIC__/admin/js/fileinput.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/fileinput_locale_zh.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layer/layer.js"></script>
<script>
	$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
function to(){location.href="{:U('yun')}";}
$(document).ready(function(){
getpage(1);
});
function getpage(p){
	$('#list').html('<div style="text-align:center;margin-top:30px;"><img src="__PUBLIC__/admin/images/loading.gif" width="60px" ></div>');
	$("#list").load(
		"{:U('chongzhi')}?type=list&p="+p,
		function() {}
	);
}
function change(id,type){
	$.ajax({
	type:'post',
	url:"{:U('change')}",
	dataType:'json',
	data:{id:id,type:type},
	success:function(json){
		location.reload();
	},
	error:function(){
		layer.msg('网络出现问题，请重试');
	}
	
	});
}


</script>