<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<title>用户中心</title>
	
	<link rel="stylesheet" href="__PUBLIC__/css/cardinal.css">
	<link rel="stylesheet" href="__PUBLIC__/css/new_web.css">
	<link rel="stylesheet" href="__PUBLIC__/css/ali_font/iconfont.css">
	<link rel="stylesheet" href="__PUBLIC__/css/ali_font1/iconfont.css">
	
	<style>
	
	</style>
</head>
<body style="padding-bottom:100px;">
<div class="user_header">
<div class="left" style="width:25%"><img src="__PUBLIC__/head.jpg" class="head_pic"></div>
<div class="left" style="width:60%;padding:10px 10px;">
	<span style="font-size:18px;">于春风·西瓜科技</span>
	<span class="agent" style="font-size:12px;"><i class="icon iconfont" style="font-size:12px;">&#xe60f;</i> 普通会员</span>
</div>

<div class="setting left"><i class="icon iconfont" style="font-size:22px;">&#xe68a;</i></div>
<div class="clear"></div>
</div>
<!--用户信息概要-->
<div class="grid gutter-1px mb user-well">
	<div class="grid-item 4/12"><div class="box tc bottom-nav"><p class="number">333</p>商品和搭配</div></div>
	<div class="grid-item 4/12"><div class="box tc bottom-nav"><p class="number">54</p>收藏的店铺</div></div>
	<div class="grid-item 4/12"><div class="box tc bottom-nav"><p class="number">78</p>我的足迹</div></div>
</div>
<div class="grid gutter-1px mb user-well" style="background:#fff;">
	<div class="grid-item 12/12 title"><div class="box tc bottom-nav" style="font-size:16px;">我的订单</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon iconfont">&#xe791;</p>全部订单</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon iconfont">&#xe673;</p>待付款</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon iconfont">&#xe671;</p>待收货</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon iconfont">&#xe672;</p>待评价</div></div>
</div>
<div class="grid gutter-1px mb user-well" style="background:#E8E8E8;">
	<div class="grid-item 12/12 title"><div class="box tc bottom-nav" style="font-size:16px;">我的钱包</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon money">44555</p>余额</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon money">455</p>红包</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon money">54</p>积分</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon iconfont money" style="font-size:22px;">&#xe614;</p>充值</div></div>
</div>
<div style="background:#fff">
<div class="grid gutter-1px mb user-well">
	<div class="grid-item 12/12 title"><div class="box tc bottom-nav" style="font-size:16px;">我的应用</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon iconfont" style="font-size:35px;">&#xe61e;</p>微友帮</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon iconfont" style="font-size:35px;">&#xe732;</p>抢积分</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon iconfont" style="font-size:25px;">&#xe615;</p>装B神器</div></div>
	<div class="grid-item 3/12"><div class="box tc bottom-nav"><p class="icon iconfont" style="font-size:25px;">&#xe623;</p>文章广告</div></div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<include file="./Application/Shop/View/wap_footer.html" />
</body>
</html>