<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>忘记密码</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home1/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home1/css/style.css"/>
</head>
<body style="background: #0A1115;">
<div class="app_container app_bg">
	<div class="register" style="padding-top:7rem;">
		<div class="form">			
			<!--<input class="input" type="" name="" id="" value="" placeholder="输入昵称"/>-->
			<input class="input" type="" name="telphone" id="telphone" value="" placeholder="输入手机号码"/>
			<div class="yzm">		
				<input type="" style="color: #fff" name="verify" id="verify" value="" placeholder="请输入验证码"/>
				<div class="text_yzm" onclick="get_verify(this)">获取验证码</div>
			</div>	
			<input class="input" type="password" name="pwd1" id="pwd1" value="" placeholder="设置新密码"/>
			<input class="input" type="password" name="pwd2" id="pwd2" value="" placeholder="重新输入"/>
			<button type="" onclick="check_form()"  id="login_btn">完成</button>
		</div>		
	</div>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="__PUBLIC__/js/base.js"></script>
<script src="__PUBLIC__/layer-mobile/layer.js"></script>
<script>
    function check_form(){
        var tel = $("#telphone").val();
        if(tel == ''){
            layer.open({content:'请输入手机号',skin:'msg',time:3});return;
        }
		
        var verify = $("#verify").val();
        if(verify == ''){
            layer.open({content:'请输入验证码',skin:'msg',time:3});return;
		}
        var pwd1 = $("#pwd1").val();
        if(pwd1 == ''){
            layer.open({content:'请输入密码',skin:'msg',time:3});return;
        }
        var pwd2 = $("#pwd2").val();
        if(pwd2 == ''){
            layer.open({content:'请输入确认密码',skin:'msg',time:3});return;
        }
		/*比对两次密码值*/
        if(pwd1 != pwd2){layer.open({content:'两次密码输入不一致',skin:'msg',time:2});return false;}
        if(pwd1.length < 6){layer.open({content:'密码位数至少6位',skin:'msg',time:2});return false;}
		/*异步提交信息*/
        var index = layer.open({type:2,shadeClose: false,content:"正在注册…"});
        $.ajax({
            type:'post',url:"{:U('chongzhiPass')}",dataType:'json',data:{tel:tel,verify:verify,pwd1:pwd1,pwd2:pwd2},
            success:function(json){
                if(json.success ==1){
                    layer.open({content:'修改成功，即将前往登录页…',skin:'msg',time:3});
                    setTimeout(function(){location.href="{:U('index')}?agent_id={$Think.get.agent_id}";},2000);
                }else{
                    layer.open({content:json.error_info,skin:'msg',time:3});layer.close(index);
                }
            },
            error:function(){ system_error_info('后端逻辑出错啦…');layer.close(index);}
        });
    }

	/*请求验证码*/
    function get_verify(obj){
        var tel = $("#telphone").val();
        if(tel == ''){
            layer.open({content:'请输入手机号',skin:'msg',time:3});return;
        }
		
        var last = function(){
            //alert("西瓜科技");return;
            var type = $(obj).attr('data-type');
            (type == 'on')?exit:$(obj).attr('data-type','on');
            var callback = function(i){
                if(i>0) {$(obj).text(i+'s后重新获取'); $(obj).css('color','#ccc');}else {$(obj).text('重新获取');$(obj).attr('data-type','off'); $(obj).css('color','#555');}
            }
            $.post("{:U('get_verify1')}",{tel:tel},function(data){
                if(data == 'error'){
                    layer.open({content:'半小时内已发过验证码，请查看短信记录',skin:'msg',time:3});
                    $(obj).attr('data-type','off')
                    return;
                }else{
                    verify_time_out('60',callback)
                }
            });

        }
        last();

    }
	/*注册验证码60s倒计时程序*/
    function verify_time_out(i,callback){
        callback(i);
        setTimeout(function(){
            i--;
            (i>=0)?verify_time_out(i,callback):exit;
        },1000);

    }
	/*链接跳转函数*/
    function jump_url(obj){
        layer.open({type: 2,shadeClose: false,content: '正在前往请求页面'});
        var url = $(obj).attr('data-url');
        setTimeout(function(){location.href=url},1000);
    }
</script>
</html>
