<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>注册</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home1/css/common.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home1/css/style.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home1/css/bg.css"/>
<script>
    $(function(){
        buju()
    })
    window.onresize=function(){
                buju()
                
    }
     function buju(){
        var b_width = document.body.clientWidth
        $('body').height(b_width/900*1338)
     }
</script>
</head>
<body>
<div class=" ">
	<div class="register">
		<div  class="form">
			<input class="input" type="" name="name" id="name" value="" placeholder="输入昵称"/>
			<input class="input" type="" name="telphone" id="telphone" pattern="[0-9]*" value="" placeholder="输入手机号码"/>
			<div class="yzm">		
				<input type="" style="color: #fff;" name="verify" id="verify" value="" placeholder="请输入验证码"/>
				<div class="text_yzm" onclick="get_verify(this)">获取验证码</div>
			</div>
			<input class="input" type="password" name="pwd1" id="pwd1" value="" placeholder="设置密码"/>
			<input class="input" type="password" name="pwd2" id="pwd2" value="" placeholder="确认密码"/>
			<button type="" onclick="check_form()"  id="login_btn">完成</button>
			<button type="" onclick="denglu()"  id="login_btn2">已有账号,去登陆</button>
		</div>
	</div>
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="__PUBLIC__/js/base.js"></script>
<script src="__PUBLIC__/layer-mobile/layer.js"></script>
<script>
    function check_form(){
        var tel = form_error_info('telphone','请输入手机号');

        var name = form_error_info('name','请输入昵称');
		
        check_tel(tel);
        var verify = form_error_info('verify','请输入验证码');
        var pwd1 = form_error_info('pwd1','请输入密码');
        var pwd2 = form_error_info('pwd2','请输入确认密码');
		/*比对两次密码值*/
        if(pwd1 != pwd2){layer.open({content:'两次密码输入不一致',skin:'msg',time:2});return false;}
        if(pwd1.length < 6){layer.open({content:'密码位数至少6位',skin:'msg',time:2});return false;}
		/*异步提交信息*/
        var index = layer.open({type:2,shadeClose: false,content:"正在注册…"});
		//alert(verify);
        $.ajax({
            type:'post',url:"{:U('new_user_add')}",dataType:'json',data:{name:name,tel:tel,verify:verify,pwd1:pwd1,uid:"{$uid_info['user_id']}",agent_id:"{$agent_id}"},
            success:function(json){
                if(json.success ==1){
                    layer.open({content:'注册成功，即将前往登录页…',skin:'msg',time:3});
                    setTimeout(function(){location.href="{:U('index')}?agent_id={$Think.get.agent_id}";},2000);
                }else{
                    layer.open({content:json.error_info,skin:'msg',time:3});layer.close(index);
                }
            },
            error:function(){ system_error_info('后端逻辑出错啦…');layer.close(index);}
        });
    }
    function check_tel(tel,callback){
		/*检测手机号是否已被注册*/
        $.post("{:U('check_tel')}",{tel:tel},function(data){
            if(data == 'false'){
                layer.open({content:'手机号码已被注册',skin:'msg',time:2});
                $('#telphone').parent().parent().addClass('weui-cell_warn')
            }else{
                $('#telphone').parent().parent().removeClass('weui-cell_warn')
                callback();
            }
        });

    }
	/*请求验证码*/
    function get_verify(obj){
        var tel = form_error_info('telphone','请输入正确手机号码');
		
        var last = function(){
            //alert("西瓜科技");exit;
            var type = $(obj).attr('data-type');
            (type == 'on')?exit:$(obj).attr('data-type','on');
            var callback = function(i){
                if(i>0) {$(obj).text(i+'s后获取'); $(obj).css('color','#ccc');}else {$(obj).text('重新获取');$(obj).attr('data-type','off'); $(obj).css('color','#555');}
            }
            $.post("{:U('get_verify')}",{tel:tel},function(data){
                if(data == 'error'){
                    layer.open({content:'半小时内已发过验证码，请查看短信记录',skin:'msg',time:3});
                    $(obj).attr('data-type','off')
                    exit;
                }else{
                    verify_time_out('60',callback)
                }
            });

        }

        check_tel(tel,last);


    }
	/*注册验证码60s倒计时程序*/
    function verify_time_out(i,callback){
        callback(i);
        setTimeout(function(){
            i--;
            (i>=0)?verify_time_out(i,callback):exit
        },1000);

    }
	/*系统错误信息弹出*/
    function system_error_info(str){
        $('#error_info').remove();
        $('body').append('<div class="weui-toptips weui-toptips_warn js_tooltips" id="error_info" style="display: block;">'+str+'</div>')

    }
	/*input表框值判断*/
    function  form_error_info(id,str){
        var value = $('#'+id).val();
        if(value == ''){
            system_error_info(str)
            $('#'+id).parent().parent().addClass('weui-cell_warn')
            return false;
        }else{
            $('#error_info').remove();
            $('#'+id).parent().parent().removeClass('weui-cell_warn')
            return value
        }
    }
	/*链接跳转函数*/
    function jump_url(obj){
        layer.open({type: 2,shadeClose: false,content: '正在前往请求页面'});
        var url = $(obj).attr('data-url');
        setTimeout(function(){location.href=url},1000);
    }

    function denglu(){
        location.href = "{:U('User/index')}?agent_id={$Think.get.agent_id}";
	}
</script>
</html>
