<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>亿赢天下登录</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/616/css/new_reset.css"/>
<style>
body{background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#FAB27F), to(#ED5C93));}
</style>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/js/base.js"></script>
<script src="__PUBLIC__/layer-mobile/layer.js"></script>
<script>
	function check_form(){
		var tel = form_error_info('telphone','请输入正确手机号码');
		
		var pwd1 = form_error_info('password','请输入密码');
		var index = layer.open({type:2,shadeClose: false,content:"正在登录…"});
		$.ajax({
			type:'post',url:"{:U('user_login')}",dataType:'json',data:{tel:tel,pwd1:pwd1},
			success:function(json){
				if(json.success ==1){
					layer.open({content:'登录成功，即将前往用户页…',skin:'msg',time:3});
//					if("{$redirect_uri}" == '0'){
						//var redirect_uri = "{:U('Center/index')}";
						location.href="{:U('Home/Index/index')}";exit;
//					}else{
//						var redirect_uri = '<php>echo urldecode($redirect_uri);</php>';
//					}
					
//					setTimeout(function(){location.href= redirect_uri;},2000);
				}else{
					layer.open({content:json.error_info,skin:'msg',time:3});layer.close(index);
				}
			},
			error:function(){ layer.open({content:'请稍后重试',skin:'msg',time:2});layer.close(index);}
		});
	}
	/*系统错误信息弹出*/
	function system_error_info(str){
		$('#error_info').remove(); 
		$('body').append('<div class="weui-toptips weui-toptips_warn js_tooltips" id="error_info" style="display: block;">'+str+'</div>')
	}
	/*input表框值判断*/
	function  form_error_info(id,str){
		var value = $('#'+id).val();
		if(value == ''){
			system_error_info(str)
			 $('#'+id).parent().parent().addClass('weui-cell_warn')
			exit
		}else{
			$('#error_info').remove(); 
			$('#'+id).parent().parent().removeClass('weui-cell_warn')
			return value
		}
	}

</script>
</head>
<body>
<div class="wrap login_wrap">
<div style="height: 30px;"></div>
	<div id="logo"><img src="__PUBLIC__/616/img/logo.jpg"/></div>
	<div  class="login" id="login">
		<input type="number" name="telphone" value="{$data.username}" id="telphone" pattern="[0-9]*" placeholder="请输入手机号码"/>
		<div style="margin-top:20px;"><input type="password" value="{$data.password}" name="password" id="password" placeholder="请输入密码"/></div>
		<a href="{:U('yanzheng')}" class="forget">忘记密码</a>
		<a href="javascript:check_form();" class="login_btn">登录</a>
		<div style="margin-top:20px;"><a href="{:U('register')}" class="login_btn">立即注册</a></div>
	</div>	
</div>
</body>
</html>
