@charset "utf-8";

*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #333333;
}
.clear{
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}
.wrap{
	font-size: 14px;
	color: #666;
	min-width: 320px;
	max-width: 640px;
	margin: 0 auto;
	font-family: 100% Microsoft Yahei,微软雅黑, Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
body {
	font-family: "Microsoft YaHei";
	letter-spacing: 1px;
	background: #f0f0f0;
}
