.qr_wrap{
	background: #141b1e;
}
.qr_wrap .qr_inner{
	padding: 3rem auto;
	text-align: center;
	color: #fff;
	font-size: .3rem;
}
.qr_wrap .qr_inner .qr_box{
	padding: 1rem 0 .5rem;
}
.qr_wrap .qr_inner .small_text{
	color: #c5c5c5;
	margin-top: .1rem;
	font-size: .25rem;
}
.qr_wrap .qr_inner .qr{
	width: 3rem;
	display: block;
	margin: auto;
}
.qr_wrap .qr_bg_wrap{
	position: fixed;
	bottom: .3rem;
	left: 0;
	right: 0;
	max-width: 640px;
	margin: auto;
}
.qr_wrap .qr_bg{
	background: url(../img/qr_bg.png)no-repeat;
	width: 5rem;
	height: 5rem;
	background-size: 5rem 5rem;	
	margin: auto;	
}