.buy_box .gotobuy {
	position: relative;
	padding: .25rem 0;
	text-align: center;
	font-size: .3rem;
	background:rgba(214,155,96,1);
	background: #FF951D;
	color: #fff;
}

.buy_box .action {
    /*margin-top: 6px;*/
	background-color: #FFFFFF;
	border-top: 1px #f0f0f0 solid;
}

.mask {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	display: none;
}

.buy_box {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translate(0, 100%);
	backface-visibility: hidden;
	z-index: 99999;
	width: 100%;
	max-width: 640px;
	margin: auto;
	transition: transform .3s;
	background: #e5e5e5;
}

.buy_box .inner {
	background-color: #FFFFFF;
}

.box_toggle {
	transform: translate(0, 0);
}
/************************/


.number {
	padding: 10px;
}

.number .tit {
	margin-bottom: 10px;
}

.number .num_wrap span,.number .num_wrap input {
	float: left;
	width: 38px;
	height: 38px;
	line-height: 38px;
	border: 1px #ddd solid;
	background: #eee;
	text-align: center;
	position: relative;
}

.number .num_wrap .minus,.number .num_wrap .plus {
	position: relative;
}

.number .num_wrap .minus:after {
	content: '';
	width: 16px;
	height: 4px;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -2px;
	margin-left: -8px;
	background: #39312f;
}

.number .num_wrap .num {
	font-size: 16px;
	width: 70px;
	border-left: 0;
	border-right: 0;
	background: #fff;
}

.number .num_wrap .plus:after {
	content: '';
	width: 16px;
	height: 4px;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -2px;
	margin-left: -8px;
	background: #39312f;
}

.number .num_wrap .plus:before {
	content: '';
	width: 4px;
	height: 16px;
	border-radius: 2px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin-top: -8px;
	margin-left: -2px;
	background: #39312f;
}

.option , .option-size {
	float: left;
	height: 38px;
	line-height: 38px;
	border: 1px #ddd solid;
	text-align: center;
	min-width: 2em;
	padding: 0 7px;
	color: #333333;
	margin: 0 10px 10px 0;
	position: relative;
}

.active-border {
	border: 1px #E4393C solid;
}

.inner .goods {
	display: flex;
	padding: .2rem;
	position: relative;
	border-bottom: .01rem #f8f8f8 solid;
}

.inner .goods .goods_img {
	width: 2rem;
	height: 2rem;
	border-radius: 6px;
	margin-right: .2rem;
}

.inner .goods .goods_infor {
	flex: 2;
}

.inner .goods .goods_infor .goods_name {
	font-size: .3rem;
	color: #111;
	margin: .2rem 0;
}

.inner .goods .goods_infor .bottom_infor {
	position: absolute;
	bottom: .4rem;
}

.inner .goods .goods_infor .bottom_infor .goods_price {
	font-size: .3rem;
	color: #FF951D;
	margin-right: .3rem;
}

.inner .goods .goods_infor .bottom_infor .stock {
	color: #9c9c9c;
	font-size: .2rem;
}

.inner .goods .close_img {
	width: .4rem;
}

.inner .goods .goods_infor .sales {
	color: #5a5a5a;
	font-size: .25rem;
}
.more{
	text-align: center;
	
	background: #fff;
	padding: .4rem 0;
}
.more a{
    padding: .15rem;
    border: 2px #FF951D solid;
    border-radius: 4px;
    color: #FF951D;
    font-size: .25rem;
}