/***************************************
 * *********登录********************
 */
.bg{
	background:#0A1115 url(../img/login-backg.png) no-repeat;
	background-size: 100% 100%;
	/*background-attachment: fixed;*/
}
/*.app_container{background:#0A1115;color: #fff;}*/
.app_bg{
	background:#0A1115 url(../img/login-backg.png) no-repeat;
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	right: 0;
	max-width: 640px;
	margin: auto;
}
.login{	
	padding:0rem 2.5rem;
	font-size: .3rem;
	color: #fff;
	padding-top:45%;
}
.register{	
	padding:0rem 2.5rem;
	font-size: .3rem;
	color: #fff;
	padding-top:15%;
}

.form .input{
	border: 0;
	outline: none;
	height: 2.7rem;
	line-height: 2.7rem;
	padding: 0 .3rem;
	box-sizing: border-box;
	background: rgba(0,0,0,0);
	margin-bottom: 1.5rem;
	border:.01rem #fff solid;
	text-align: center;
	color: #fff;
	border-radius: .3rem;
	display: block;
	width: 100%;
	
}
.form input::-webkit-input-placeholder{
    color: #fff;
    
}
#login_btn{
	display: block;
	background: #ECAD68;
	border: 0;
	outline: none;
	border-radius: .3rem;
	color: #fff;
	height: 2.7rem;
	line-height: 2.7rem;
	width: 100%;
	box-sizing: border-box;
	margin-top: 2rem;
}
#login_btn2{
	display: block;	
	border: 0;
	outline: none;
	border-radius: .3rem;
	color: #fff;
	height: 2.7rem;
	line-height: 2.7rem;
	width: 100%;
	box-sizing: border-box;
	margin-top: 2rem;
	color:#ECAD68;
	background:rgba(0,0,0,0);
	border:.01rem #ECAD68 solid;
}
.link_2{
	padding: 1.5rem 2.5rem;	
}
.link_2  a{
	float: left;
	width: 50%;
	text-align: center;
	color: #fff;
	font-size: .3rem;
}
.link_register{
	border-right: .01rem #fff solid;
	box-sizing: border-box;
}

/***************注册**********************/

.yzm{
	display: flex;
	box-sizing: border-box; 
	padding:0 10px;
	border: .01rem #fff solid;
	height: 2.6rem;
	border-radius: .3rem;
	margin-bottom: 1.5rem;
}
.yzm input{
	width: 90%;
	background: rgba(0,0,0,0);
	border: 0;
	outline: none;
}
.yzm .text_yzm{
	width:6rem;
	text-align: right;
	border-left: .01rem #666 solid;
	height: 1rem;
	margin-top:0.75rem;
	/*font-size: .3rem;*/
	font-size:13px;
}
/***************************************
 * *********首页轮播图********************
 */

#buy_wrap{position: fixed;left: 0;right: 0;bottom:.91rem;width: 100%;max-width: 640px;margin:auto; box-sizing: border-box;}
#buy{display: block;text-align: center;color: #fff;height: .8rem;line-height: .8rem;}
#buy{background:rgba(255,149,29,.6)}
#banner {
	width: 100%;
	overflow: hidden;
	position: relative;
}

#banner .swiper-slide {
	position: relative;
	text-align: center;
}

#banner img {
	width: 100%;
	display: block;
}

.pagination {
	position: absolute;
	z-index: 20;
	bottom: 0px;
	width: 66px;
	text-align: center;
	right: 0;
}

.swiper-pagination-bullet {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 5px;
	background: #fff;
	margin: 0 2px;
	opacity: 0.8;
	cursor: pointer;
}

.swiper-pagination-bullet-active {
	background: #16120f;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 0;
	left: 0;
	width: 100%;
}
/****************个人中心******************/
.usercenter{
	padding-bottom: .91rem;
}
.top-bg{
	width: 100%;
	display: block;
}
.usercenter{
	background: #0b0a09;
}

.top-infor {
	background: url(../user-img/top-bg.png) no-repeat;
	background-size: 100% 100%;
	min-height: 1.6rem;
}

.user-infor {
	padding: .3rem;
	
}
.border {
	border: .01rem #1F1F1F solid;
	display: inline-block;
	border-top: .01rem #ECAD69 solid;
	border-left: .01rem #ECAD69 solid;
	border-radius: 50%;
	transform: rotate(45deg);
}

.user-infor .border img {
	width: 1rem;
	height: 1rem;
	border: 1px rgba(0,0,0,0) solid;
	vertical-align: middle;
	border-radius:50%;
	transform: rotate(-45deg);	
}

.user-infor .user-name {
	vertical-align: middle;
	color: #fff;
	margin-left: .2rem;
}


/************************/
.all-order{
	margin-top: .2rem;
}
.all-order a{
	padding: .15rem .3rem;
}
.nav-order-wrap {
	background: #16120F;
	padding: .2rem 0;
	margin-bottom: .2rem;
}

.nav-order-wrap a {
	color: #D69B60;
	font-size: .2rem;
}



.weui-cell__bd .icon-img {
	height:.35rem;
	vertical-align: middle;
}

.icon-img {
	margin-right: 10px;
}

.nav {
	
	width: 100%;
}

.nav a {
	
	float: left;
	width: 25%;
	display: block;
	text-align: center;
}

.nav img {
	height: .35rem;	
}

.bottom-bg {
	position: fixed;
	max-width: 640px;
	bottom: .91rem;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
}

.bottom-bg img,.top-bg {
	display: block;
	width: 100%;
}


/**************我的收藏*********************/
.goods_wrap{
	padding: .2rem;
}
.goods_list{
	padding-right: .2rem;
}

.goods_list a{
	float: left;
	width: 50%;
	background: #fff;
	margin-right: .2rem;
	margin-bottom: .2rem;
	padding: .15rem;
	box-sizing: border-box;
	
}
.goods_list a:nth-of-type(2n){
	margin-right: -.2rem;
}
.goods_list .goods_img{
	display: block;
	width: 100%;
}
.del img{
	width: .4rem;
	
}
.goods_list .goods_name{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .25rem;
	color: #000;
	margin-top: .2rem;
}
.goods_list .price{
	color: #F9A84F;
	font-size: .3rem;
}
.goods_list .stock{
	color: #666666;
	margin-top: .1rem;
	font-size: .2rem;
}

/*************我的订单********************/
.order-tab-active{
	color:#ecad68;
	border-bottom: .01rem #ecad68 solid;
}
.flex-wrap{
	display: flex;
	color: #000;
	height: .9rem;
	line-height: .9rem;
	background: #fff;
}
.flex{
	flex: 1;
	text-align: center;
}
.orders{
	color: #111;
	padding: .2rem;
}
.order{
	color: #111;
	background: #fff;
	margin-bottom: .2rem;
}
.order-top{
	padding:0 .2rem;
	height: .6rem;
	line-height:.6rem;
	
}
.order-top .del{
	width: .4rem;
	display: block;
	margin-top:.13rem;
}
.order-inner{
	padding: .2rem;
	border-bottom:.01rem #f1f1f1 solid;
	border-top:.01rem #f1f1f1 solid;
	display: flex;
}
.order-inner .goods-img{
	width: 1rem;
	height: 1rem;
	
}
.goods-img-box{
	margin-right: .3rem;
}
.order-infor{
	flex: 2;
	margin-top: .3rem;
}
.goods-img-box{
	width:2rem;
	height:2rem;
	line-height:2rem;
	/*border:1px #f0f0f0 solid;*/
	text-align:center;
}
.goods-img-box img{
	width:100%;
	vertical-align:middle;
}
.goods-img-box img{
	width: 2rem;
	height: 2rem;
}
.order-infor .goods-name{
	font-size: .3rem;
	margin-bottom: .2rem;
}
.over2{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.order-infor .quantity{
	color: #666;
}
.order-infor .price,.pay-wrap .price{
	color: #ecad68;
	font-size: .3rem;
}
.order-infor .goodsinfo{
	height: .8rem;
	line-height: .8rem;
}
.order-num{
	height: .8rem;
	line-height:.8rem;
	padding: 0 .2rem;
	border-bottom:.01rem #f1f1f1 solid;
	color: #5A5A5A;
}
.order-bottom{
	padding:.3rem .2rem;
	text-align: right;
}
.order-bottom a{
	text-align: right;
	padding: .1rem .3rem;
	
	margin-left: .2rem;
	border-radius: 4px;
}
.grey-border{
	border: .01rem #080809 solid;
	color: #080809;
}
.active-border{
	border: .01rem #f2af65 solid;
	color: #f2af65;
}

/***************确认订单*********************/
.addr .weui-cell__bd p:first-child{
	font-size: .3rem;
}
.addr p span{
	margin-left: .3rem;
}
.location img{
	width: .7rem;
}
.addr  a{
	border-bottom: 0;
}
.addr a{
	background: #f8f8f8;
	color: #000000;
}
/******************付款方式***************/
.pay-wrap{
	background: #FFFFFF;
	color: #111;
	padding: 0 .2rem;
}
.pay-system{
	padding: .2rem 0;
	border-bottom:.01rem #f1f1f1 solid;
}

.icon_pay{
	margin-left: .5rem;
}
.icon_pay:before{
	content: '';
	display: inline-block;
	vertical-align: middle;
	padding-right: .1rem;
	background: url(../img/images/choose1.png) no-repeat 0 0;
	width: .4rem;
	height: .38rem;
	background-size: .4rem .38rem;
}
.selected:before{
	content: '';
	display: inline-block;
	vertical-align: middle;	
	background: url(../img/images/choose.png) no-repeat 0 0;
	width: .4rem;
	height: .38rem;
	background-size: .4rem .38rem;
}

.pay-wrap .price{
	height: .8rem;
	line-height: .8rem;
}

#pay{
	display: block;
	margin: .8rem 1.5rem;
	color: #FFFFFF;
	padding: .15rem .5rem;
	background: #F3B067;
	border-radius: 4px;
	font-size: .3rem;
	text-align: center;
}


/*****************我的钱包***********************/

.qb_top {
	/*background: url(../img/images/money-banner.png) no-repeat;
	background-size: 100% 100%;
	min-height: 2.2rem;*/
	/*position: relative;*/
	background:#221f1c;
	padding:0 0 .2rem .2rem;
}
.qb_top div{
	/*margin-left: 2rem;*/
	color: #fff;
}
.qb_top span{
	display: inline-block;
	margin-left: .6rem;
}
.qb_top em{
	font-size: .3rem;
	/*margin-top: .2rem;*/
	font-weight: normal;
	font-style: normal;
}
.qb_top a{
	text-align: right;
	display: block;
	color: #fff;
	padding: .2rem .2rem .1rem;
	text-decoration: underline;
	
}
.qianbao_wrap{
	color: #111;
}
.qianbao{
	background: #fff;
}
.input-box{
	background: #fff;
	padding: .1rem;
	box-sizing: border-box;
	border-bottom: .01rem #f0f0f0 solid;
}
.input-box .input-wrap{
	display: table;
	box-sizing: border-box;
}
.input-box .input-wrap .input-wrap-addon{
	border: 0;
	outline: none;
	background: rgba(0,0,0,0);
	width: 1%;
	white-space: nowrap;
	display: table-cell;
	padding: 6px 12px;
	box-sizing: border-box;
}
.input-box .input-wrap input {
    display: block;
    width: 100%;    
    padding: .25rem;
    font-size: .25rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    /*border: .01rem solid #ccc;*/
    
    font-family: "Microsoft YaHei";
    outline: none;
    border: 0;
    box-sizing: border-box; 
    color: #5A5A5A;
}

.input-box .input-wrap input::-webkit-input-placeholder{
    color: #5A5A5A;
}
#out{
	display: block;
	color: #FFFFFF;	
	background: #F3B067;
	border-radius: .1rem;
	font-size: .3rem;
	text-align: center;
	border: 0;
	outline: none;		
	padding: .2rem .8rem;
	margin:.2rem auto;		
}



.tips{
	color: #5A5A5A;
	font-size: .2rem;
	padding: .3rem;
	line-height: 1.5;
}
.qianbao .pay-system{
	padding: .3rem;
}


/**************奖励*********************/
.tabs{
	
	background: #16120f;
	color: #fff;
}
.tabs li{	
	height: .9rem;
	line-height: .9rem;	
	box-sizing: border-box;
	float: left;
	width: 25%;
	text-align: center;	
	box-sizing: border-box;
}
.tabs li:last-child{
	border-right: 0;
}
.tab-active{
	color: #D69B60;
	border-bottom: .01rem #D69B60 solid;
}
table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	color: #fff;
}
tr,th,td{
	border: 0;
}
th{
	padding:.25rem 0;
	background: #0b0a09;
	font-weight: normal;
	color: #C9C4BD;
}
td{
	padding: .3rem 0;
	background: #16120f;
}

tr{
	
	border-bottom: .01rem #2A2A2A solid;
}
tr a{
	color: #fff;
	text-decoration: underline;
}
.txt_left{text-align: left;padding-left: .2rem;box-sizing: border-box;}
.txt_center{text-align: center;}
.txt_right{text-align: right;padding-right: .2rem;box-sizing: border-box;}
.col_3{width:33.33%;}
.col_2{width:50%;}
/******************************************/
