<!DOCTYPE html>
<html lang="en">
<head>
    <title>二维码</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta content="telephone=no" name="format-detection">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home1/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home1/css/style.css"/>
</head>
<body>
<div class="app_container" style="background:#201C19;">
	<header>
		<div class="fixed header_inner">
			<div class="head">
				<span class="left_arrow" onclick="javascript:history.go(-1)">
					<img src="__PUBLIC__/home1/img/left-white.png"/></span>
				<span>我的推广</span>
				<div class="clear"></div>
			</div>
		</div>
	</header>
	<img src="__PUBLIC__/web_path/{$user_id}.jpg" width="100%">
</div>
</body>
<script src="__PUBLIC__/home1/js/font.js" type="text/javascript" charset="utf-8"></script>
<script>

</script>
</html>
