<!DOCTYPE html>
<html>
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <title>
      {$app_info[0]['wxname']}商城
    </title>
    <link rel="stylesheet" href="__PUBLIC__/shop/css/c3e09ac36d.css">
    <link rel="stylesheet" href="__PUBLIC__/shop/css/86fe49ca90.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/shop/css/footer.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/weui.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/ali_font1/iconfont.css">
    <script>
      __STAT.add('head_load');
    </script>
    <style type="text/css">
      .u-footer{display:none;}
    </style>
  </head>
  
  <body style="padding-bottom:70px;">
    <include file="./Application/Shop/View/Index_wxjs.html" />
    <header id="header" class="u-header clearfix">
      <div class="u-hd-left f-left">
        <a href="javascript:void(0)" onclick="history.go(-1);" mars_sead="brand-detail-back_btn"
        class="J_backToPrev">
          <span class="u-icon i-hd-back">
          </span>
        </a>
      </div>
      <span class="u-hd-tit">
        购物车
      </span>
      <div class="u-hd-right f-right">
        <a href="{:U('index')}" mars_sead="nav_home_btn">
          <span class="u-icon i-hd-home">
          </span>
        </a>
      </div>
    </header>
    <style>
      .aaa:hover{background:#f1f1f1}
    </style>
    <if condition="$temp[0]['good_id'] eq true ">
      <div id="cart_list">
        <!--特卖会订单-->
        <div class="space10">
        </div>
       
        <div class="cartdiv">
          <div class="cartlist clearfix">
            <volist name="temp" id="vv" key="k">
              <div id="good{$k}">
                <div class="space10">
                </div>
                <div class="cartlistinner clearfix">
                  <a href="{:U('good')}?good_id={$vv.info.good_id}" class="cart_orderlist_i">
                    <img style="display: inline;" src="{$vv.info.pic_url}" data-original=""
                    data-onerror="" data-brandlazy="true" height="70" width="70">
                  </a>
                  <div class="cart_orderlist_info">
                    <a href="{:U('good')}?good_id={$vv.info.good_id}">
                      <p class="cart_g_name" style="word-wrap: break-word;word-break: normal;">
                        {$vv.info.good_name}
                      </p>
                      <!-- <p class="cart_b_name"></p> -->
					  <if condition="$vv['type'][0] neq '' ">
					  <volist name="vv.type" id="kk">
                      <p class="fontgrey">{$kk}</p>
					  </volist>
					  </if>
					  
                      <p class="space2">
                      </p>
                      <br />
                    </a>
                    <div class="amount-confirm-box">
                      <a href="javascript:;" class="amount-action amount-action-min <if condition="
                      $vv.good_num eq 1 ">disabled</if> " onclick="change_min(this,'{$k}','{$vv.order_id}')">
                        -
                      </a>
                      <span class="amount-text" id="num{$k}">
                        {$vv.good_num}
                      </span>
                      <a href="javascript:;" class="amount-action amount-action-max" onclick="change_max(this,'{$k}','{$vv.order_id}')">
                        +
                      </a>
                    </div>
                  </div>
                  <a class="cart_orderlist_p" alt="{$k}" href="javascript:void(0)" style="display:block">
                    <span class="c_price">
                      ¥
                      <em class="price">
                        {$vv.info.good_price}
                      </em>
                    </span>
                    <span class="fontstyle">
                      ¥
                      <em class="market">
                        {$vv.info.market_price}
                      </em>
                    </span>
                  </a>
                  <span class="delete">
                    <a href="javascript:;" onclick="del('{$k}','{$vv.order_id}')" data-usecoupon="0"
                    mars_sead="cart_delect_btn" data_mars="prd_id:43280703">
                      <img src="__PUBLIC__/shop/images/74ff20009b.png" height="22" width="22">
                    </a>
                  </span>
                </div>
              </div>
            </volist>
          </div>
			<style>
			
			.weui_cell_hd{width:25%;}
			.weui_label,.weui_input,.weui_cell_bd p{width:100%;font-size:12px;}
			.weui_cell_ft{font-size:12px;}
			</style>
			<div class="weui_cells weui_cells_access">
				<a href="{:U('Address/index')}">
				<div class="weui_cell" style="padding-top:5px;padding-bottom:5px;">
					<div class="weui_cell_hd"><label class="weui_label">收货人</label></div>
					<div class="weui_cell_bd weui_cell_primary">
						<input class="weui_input" type="text" pattern="[0-9]*" value="{$address_info.username}" readonly  placeholder="">
					</div>
				</div>
				<div class="weui_cell" style="padding-top:5px;padding-bottom:5px;">
					<div class="weui_cell_hd"><label class="weui_label">联系电话</label></div>
					<div class="weui_cell_bd weui_cell_primary">
						<input class="weui_input" type="number" pattern="[0-9]*" value="{$address_info.telphone}" readonly placeholder="">
					</div>
				</div>
				<div class="weui_cell" style="padding-top:5px;padding-bottom:5px;">
					<div class="weui_cell_hd"><label class="weui_label">地址</label></div>
					<div class="weui_cell_bd weui_cell_primary">
						<input class="weui_input" type="text" pattern="[0-9]*" id="address" value="{$address_info.address}" readonly placeholder="">
					</div>
				</div>
				</a>
				<a class="weui_cell" href="javascript:;">
					<div class="weui_cell_bd weui_cell_primary">
						<p>配送</p>
					</div>
					<div class="weui_cell_ft">免邮费</div>
				</a>
				<div class="weui_cell weui_cell_select weui_select_after">
					<div class="weui_cell_hd">
						<label for="" class="weui_label">代金券</label>
					</div>
					<div class="weui_cell_bd weui_cell_primary">
						<select class="weui_select" style="font-size:12px;width:100%;" name="daijin" id="daijin">
						</select>
					</div>
					<div class="weui_cell_hd">
						<label for="" class="weui_label" style="color:red;">有<span id="daijin_num">2</span>张可用</label>
					</div>
				</div>

			</div>
		
        </div>
        <!--固定在页面底部浮动的购买按钮-->
        <div class="navbar navbar-default navbar-fixed-bottom" style="z-index:3;">
          <!--<div class="saveguid"><span></span>100%正品保证</div>-->
          <div class="container nav-current-box checkout-box">
            <div class="navbar-header">
              <p class="totle">
                总金额：
                <span class="price">
                  ¥
                  <em class="total-fee">
                  </em>
                </span>
              </p>
              <span>
                为您节省：¥
                <em class="total-market">
                </em>
              </span>
            </div>
            <div class="navbar-brand">
              <a class="btn btn-large btn-purple" mars_sead="first-check_btn" href="javascript:;"
              onclick="pay(this)">
                去结算
              </a>
            </div>
          </div>
        </div>
      </div>
      <else />
      <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
      <div style="text-align:center;padding-top:35%;">
        <div class="icon iconfont" style="color:#777;font-size:66px;">&#xe6af;</div>
        <Br />
        <br />
        <div style="font-size:16px;color:#777;">
          两手空空，去
          <a href="{:U('index')}">
            首页
          </a>
          逛逛~
        </div>
      </div>
    </if>
    <div class="space10">
    </div>
    <a href="#top" class="u-backtop" mars_sead="home_foot_top_btn">
    </a>
    <!--以下是浮于显示屏左下角的购物袋-->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js">
    </script>
    <script src="__PUBLIC__/js/base.js">
    </script>
    <script src="__PUBLIC__/layer-mobile/layer.js">
    </script>
    <script>
      $(document).ready(function() {
		
        change_totalfee();
		if('{$address_info.address}' == '' ){layer.open({content: '请添加收货地址',skin: 'footer', time: 3});location.href="{:U('Address/index')}";}
      });
      function pay(obj) {
		if($('#address').val() == ''){
			layer.open({content: '收货地址为空！请添加',skin: 'footer',time: 3});exit;}
        $(obj).attr("onclick", '');
        layer.open({ type: 2,content: '正在提交订单',time: 3, shadeClose: false});
		var daijin = $('#daijin').val();
        $.ajax({
          type: "POST",
          url: "{:U('order_sure')}",
          dataType: "json",
          data: {},
          success: function(json) {
            location.href = "{:U('/pay/pay/shop')}?pay_id=" + json.pay_id+"&daijin="+daijin;
          },
          error: function() {

}
        });
      }
      function del(id, order_id) {
		 layer.open({
			content: '您确认要从购物车移除该商品吗？'
			,btn: ['移除', '取消']
			,skin: 'footer'
			,yes: function(index){
				  layer.closeAll();
					layer.open({
					  type: 2,
					  shadeClose: false
					});
					$.ajax({
					  type: "POST",
					  url: "{:U(del_categrey)}",
					  dataType: "json",
					  data: {
						"order_id": order_id
					  },
					  success: function(data) {
						if (data.success == 1) {
						  $('#good' + id).remove();
						  change_totalfee();
						}
						var a = $('.cartlist').text();
						if (a.length == '23') {
						  location.reload();
						  exit;
						}
						layer.closeAll();
					  },
					  error: function() {
						layer.closeAll();
						layer.open({
						  content: '发生通信错误，请稍候重试',
						  time: 3
						});
					  }
					});
			}
		  });
       
      }
      function change_min(obj, id, order_id) {
        var num = $('#num' + id).text();
        if (num != 1) {
          $.ajax({
            type: "POST",
            url: "{:U(change_categrey)}",
            dataType: "json",
            data: {
              "order_id": order_id,
              'type': 'min'
            },
            success: function(data) {
              if (data.success == 1) {
                var savenum = num * 1 - 1 * 1;
                $('#num' + id).text(savenum);
                change_totalfee();
                if (savenum == 1) {
                  $(obj).addClass('disabled');
                }
              }
            },
            error: function() {
              layer.open({
                content: '发生通信错误，请稍候重试',
                time: 3
              });
            }
          });
        }
      }
      function change_max(obj, id, order_id) {

        var num = $('#num' + id).text();
        $.ajax({
          type: "POST",
          url: "{:U(change_categrey)}",
          dataType: "json",
          data: {
            "order_id": order_id,
            'type': 'max'
          },
          success: function(data) {
            if (data.success == 1) {
              var savenum = num * 1 + 1 * 1;
              $('#num' + id).text(savenum);
              $(obj).prev().prev().removeClass('disabled');
              change_totalfee();
            }
          },
          error: function() {
            layer.open({
              content: '发生通信错误，请稍候重试',
              time: 3
            });
          }
        });

      }
      /*
<a class="cart_orderlist_p" href="javascript:void(0)" target="_blank" style="display:block">
			  <span class="c_price">¥{$vv.info.good_price}</span>
			  <span class="fontstyle">¥{$vv.info.market_price}</span>
			</a>
*/
      function change_totalfee() {
        var price = 0;
        var market = 0;
        $('.cart_orderlist_p').each(function() {
          var k = $(this).attr('alt');
          var num = $('#num' + k).text();
          var c = $(this).find('.price').text();
          var d = $(this).find('.market').text();
          price = price * 1 + c * 1 * num;
          market = market * 1 + d * 1 * num;
        });
        $('.total-fee').text(price);
		get_daijin(price);
        $('.total-market').text(market * 1 - price * 1);
      }
	  function get_daijin(price){
		$('#daijin').html('<option>请选择</option>');
		$.ajax({
			type:'post',
			url:"{:U('get_daijin')}",
			dataType:'json',
			data:{total_fee:price},
			success:function(json){
				$('#daijin').html(json.result);$('#daijin_num').html(json.daijin_num);
			},error:function(){}
		});
		//$('#daijin').load("{:U('get_daijin')}?total_fee="+price,function(response){});
	  }
    </script>
  </body>

</html>