.gopng_icon7 {
 height: 20px;
 width: 20px;

}
.gopng_icon7 {
 background: url(../img/user_icon/user_icon.png) -0px -0px no-repeat;

}
.gopng_icon1 {
 height: 20px;
 width: 20px;
 
}
.gopng_icon1 {
 background: url(../img/user_icon/user_icon.png) -20px -0px no-repeat;

}
.gopng_icon3 {
 height: 20px;
 width: 20px;
 overflow: hidden;
}
.gopng_icon3 {
 background: url(../img/user_icon/user_icon.png) -40px -0px no-repeat;

}
.gopng_icon4 {
 height: 20px;
 width: 20px;
 
}
.gopng_icon4 {
 background: url(../img/user_icon/user_icon.png) -60px -0px no-repeat;

}
.gopng_icon {
 height: 20px;
 width: 20px;
margin-right: 5px;
display: inline-block;
vertical-align: middle;
}
.gopng_icon5 {
 background: url(../img/user_icon/user_icon.png) -80px -0px no-repeat;

}

.gopng_icon6 {
 background: url(../img/user_icon/user_icon.png) -100px -0px no-repeat;

}
.gopng_icon2 {
 height: 20px;
 width: 20px;
 
}
.gopng_icon2 {
 background: url(../img/user_icon/user_icon.png) -120px -0px no-repeat;
 
}

.gopng_icon8 {
 background: url(../img/user_icon/user_icon.png) -140px -0px no-repeat;

}

.gopng_icon9 {
 background: url(../img/user_icon/user_icon.png) -160px -0px no-repeat;

 
}

.gopng_icon10 {
 background: url(../img/user_icon/user_icon.png) -180px -0px no-repeat;

}

.gopng_icon11 {
 background: url(../img/user_icon/user_icon.png) -200px -0px no-repeat;
 

}

.gopng_icon12 {
 background: url(../img/user_icon/user_icon.png) -220px -0px no-repeat;
 
}

.gopng_icon13 {
 background: url(../img/user_icon/user_icon.png) -240px -0px no-repeat;

}