
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473762815'); /* IE9*/
  src: url('iconfont.eot?t=1473762815#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473762815') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473762815') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473762815#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dynsearchselected:before { content: "\e605"; }
.icon-dyncomments:before { content: "\e606"; }
.icon-dynloginlogo:before { content: "\e607"; }
.icon-dynlogo:before { content: "\e608"; }
.icon-dynmenucommentsnormal:before { content: "\e609"; }
.icon-dynmenucommentsselected:before { content: "\e60a"; }
.icon-dynmenufriendsnormal:before { content: "\e60b"; }
.icon-dynmenufriendsselected:before { content: "\e60c"; }
.icon-dynmenulikenormal:before { content: "\e60d"; }
.icon-dynpublishcover:before { content: "\e616"; }
.icon-dynpublishaud:before { content: "\e615"; }
.icon-dynplus:before { content: "\e614"; }
.icon-dynplay:before { content: "\e613"; }
.icon-dynmenurecommendselected:before { content: "\e612"; }
.icon-dynmenurecommendnormal:before { content: "\e611"; }
.icon-dynmenumeselected:before { content: "\e610"; }
.icon-dynmenumenormal:before { content: "\e60f"; }
.icon-dynmenulikeselected:before { content: "\e60e"; }
.icon-dynpublishpic:before { content: "\e617"; }
.icon-dynsearchnormal:before { content: "\e618"; }
.icon-dynshare:before { content: "\e619"; }
.icon-dyntophover:before { content: "\e61a"; }
.icon-dyntopnormal:before { content: "\e61b"; }
.icon-dynv:before { content: "\e61c"; }
.icon-dynbarrageoff:before { content: "\e61d"; }
.icon-dynbarrageon:before { content: "\e61e"; }
.icon-dyndetailclose:before { content: "\e61f"; }
.icon-dynpraiseselected:before { content: "\e628"; }
.icon-dyndetailweibo:before { content: "\e626"; }
.icon-dyndetailwechat:before { content: "\e625"; }
.icon-dyndetailqzone:before { content: "\e624"; }
.icon-dyndetailqq:before { content: "\e623"; }
.icon-dyndetailplay:before { content: "\e622"; }
.icon-dyndetailpause:before { content: "\e621"; }
.icon-dyndetailfriendscircle:before { content: "\e620"; }
.icon-knodetailchapter:before { content: "\e629"; }
.icon-knodetailevaluation:before { content: "\e62a"; }
.icon-knodetailfullscreen:before { content: "\e62b"; }
.icon-knodetailhalfscreen:before { content: "\e62c"; }
.icon-knodetailinfor:before { content: "\e62d"; }
.icon-knodetailplay:before { content: "\e62e"; }
.icon-knodetailstar:before { content: "\e62f"; }
.icon-knodetailtriangle:before { content: "\e631"; }
.icon-knodetailteacher:before { content: "\e630"; }
.icon-knodetailvolume:before { content: "\e632"; }
.icon-knodropdown:before { content: "\e633"; }
.icon-knomore:before { content: "\e634"; }
.icon-knonext:before { content: "\e635"; }
.icon-knoprevious:before { content: "\e636"; }
.icon-shang:before { content: "\e611"; }
.icon-shang1:before { content: "\e63e"; }
.icon-pinglun:before { content: "\e621"; }
.icon-transpond:before { content: "\e621"; }
.icon-zuozhe:before { content: "\e652"; }
.icon-25zuozhe:before { content: "\e645"; }
.icon-dianzan:before { content: "\e83b"; }
.icon-dianzan1:before { content: "\e783"; }
