<style>.layui-layer{top:50px!important;}
.content{
	/*width: 500px;*/
	/*color: red;*/
	/*word-break:keep-all;!* 不换行 *!*/
	/*white-space: nowrap;*/
	text-overflow: ellipsis;
	overflow: hidden;

}
</style>
<table class="table table-striped"  style="font-size:14px;margin-top: 20px;">
	<th style="width: 5px;">
	<input type="checkbox" class="all_check">
	</th>
		<th>id</th>
		<th>微信名</th>
		<th>微信号</th>

		<th>appid</th>
		<th>appsecret</th>
		<th>账户</th>
		<th>总营业额</th>
		<th>当天营业额</th>
		<th>当天订单数</th>
		<th>总订单数</th>
		<!--<th>操作</th>-->
		<volist name="arr" id="vv" key="kk" empty="$empty">
			<tr id="{$kk}" style="font-size:13px;">
				<td><input type="checkbox" class="one_check" value="{$vv.id}"></td>
				<td>{$vv.id}</td>
				<td>{$vv.wxname}</td>
				<td>{$vv.wxid}</td>

				<td>{$vv.appid}</td>

				<td>{$vv.appsecret}</td>
				<td>{$vv.username}</td>
				<td>{$vv.zonge|default=0}</td>
				<td>{$vv.currentMoney|default=0}</td>
				<td>{$vv.currentOrder|default=0}</td>
				<td>{$vv.orderNum|default=0}</td>
			</tr>
		</volist>
</table>
<input type="hidden" name="bili" id="bili" value="{$bili}"/>
<div class="pagelist">{$page}</div>
<script src="__PUBLIC__/Admin/layer/layer.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.js"></script>
<script>
	function yongjin(user_id) {
		location.href = "{:U('yongjinList')}?user_id=" + user_id;
    }
	function black(user_id){
		$.ajax({
			type:"post",
			url:"{:U('black')}",
			dataType:"json",
			data:{
				user_id:user_id,
			},
			success:function(data){
				if(data == 0){
					layer.msg('修改成功');
					setTimeout(function(){
						history.go(0);
					},1000);
				}else{
					layer.msg('修改状态失败');
				}
			}
		});
	}
</script>
