<table class="table table-striped" style="font-size:14px;">
			<th>ID</th>
			<th>代金券名称</th>
			<th>售价</th>
			<th>规则</th>
			<th>过期时间</th>
			<th>售量/总量</th>
			<th>操作</th>
<volist name="info" id="vv">
			<tr>
				<td>{$vv.daijin_id}</td>
				<td><button class="btn btn-link btn-sm">{$vv.daijin_name}元代金券</button></td>
				<td>
				{$vv.daijin_fee}
				</td>
				<td>
				<if condition="$vv['daijin_rule'] eq 1">不限制金额</if>
				<if condition="$vv['daijin_rule'] eq 2">满{$vv.daijin_line}金额可使用</if>
				</td>
				<td>
				<if condition="$vv['date_switch'] eq 1">永久有效
				<else />
				{$vv.daijin_date}
				</if>
				</td>
				<td>{$vv.sale_number}/{$vv.daijin_number}</td>
				<td>
				<a href="{:U('add')}?daijin_id={$vv.daijin_id}"><button class="btn btn-warning btn-sm">修改</button></a>
				<button class="btn btn-danger btn-sm" onclick="del(this,'{$vv.type_id}','type_del')">删除</button>
				</td>
			</tr>
			</volist>
			</table>
			<div class="pagelist">{$page}</div>