<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/admin/css/base.css">
<link href="__PUBLIC__/admin/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<div class="container-fluid main">
	<div class="main-top"><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>订单管理</div>
	<div class="main-content">
<style>
.col-sm-6{margin:5px 0;border-bottom:1px solid #f8f8f8;font-size:14px;}
.col-sm-6 span{font-weight:bold;color:#777}
</style>
		<div>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">订单详情</a></li>		    
		    <li role="presentation"><a href="javascript:void(0);" onclick="goLastPage({$p})">返回上一页</a></li>		    
		  </ul>
		  
		  <!-- Tab panes -->
		  <div class="tab-content" style="margin-top:30px;border:1px solid #dddddd;padding:10px 2%;">
		    <div role="tabpanel" class="tab-pane active" id="home">
				<div class="bg-success" style="padding:10px;margin:5px 0;">基本信息</div>
				<div class="col-sm-6"><span>订单号：</span>{$order['id']}</div>
				<div class="col-sm-6"><span>订单状态：</span><if condition="$order.type eq 0 "><font color="red" size="4">待发货</font></if>
					<if condition="$order.type eq 1 "><font color="#000" size="4">待收货</font></if>
					<if condition="$order.type eq 2 "><font color="#555">已收货</font></if></div>
				<div class="col-sm-6"><span>购买人ID：</span>[{$order['user_id']}]</div>
				<div class="col-sm-6"><span>支付时间：</span>{$order['pay_time']|date="Y-m-d H:i:s",###}</div>
				<div style="clear:both;"></div>
				<div class="bg-success" style="padding:10px;margin:5px 0;">收货人信息</div>
				<div class="col-sm-6"><span>地址</span>{$order['address']}</div>
				<div style="clear:both;"></div>
				<div class="bg-success" style="padding:10px;margin:5px 0;">商品信息</div>
				<table class="table table-striped" style="font-size:14px;">
					<th>商品ID</th>
					<th>商品名称</th>
					<th>缩略图</th>
					<th>规格</th>
					<th>数量</th>
					<th>金额</th>
					<th></th>
					<tr>
						<td>{$order.good_id}</td>
						<td>{$order.good_name}</td>
						<td><img src="{$order.good_pic}" width="30px"></td>
						<td>{$order.good_spec}</td>
						<td>{$order.good_num}</td>
						<td>￥{$order.price}</td>
					</tr>
					<tr><td style="color:red">订单总金额 ￥{$order.price}
						&nbsp;&nbsp;&nbsp;
						<if condition="$order.fxmoney neq 0">
							<span>复消积分抵消:{$order.fxmoney}</span>
						</if>
						<if condition="$order.money neq 0">
							<span>余额抵消:{$order.money}</span>
						</if>
					</td>

					</tr>
					<if condition="$info neq null">
						<tr><td style="color:red">代金卷</td><td>{$info.title}</td><td>{$info.money}</td></tr>
					</if>
				</table>
				<div class="form-horizontal" style="height: 400px">

						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">物流订单号</label>
							<div class="col-sm-6">
							<if condition="$order.kd_number eq 0">
							<input type="text"  class="form-control" value="" name="order_sn" id="kd_number" />
							<else/>
							<input type="text"  class="form-control" value="{$order.kd_number}" name="order_sn" id="kd_number" />
							</if>
								
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">物流选择</label>
							<div class="col-sm-6">
								<select name="kd" class="form-control" id="kd">
									<option value="-1" >快递选择</option>
									<option value="SF" <if condition="$order.kd_name eq SF">selected</if>>顺丰快递</option>
									<option value="STO" <if condition="$order.kd_name eq STO">selected</if>>申通快递</option>
									<option value="YD"  <if condition="$order.kd_name eq YD">selected</if>>韵达快递</option>
									<option value="YTO" <if condition="$order.kd_name eq YTO">selected</if>>圆通速递</option>
									<option value="ZJS" <if condition="$order.kd_name eq ZJS">selected</if>>宅急送</option>
									<option value="ZTO" <if condition="$order.kd_name eq ZTO">selected</if>>中通速递</option>
									<option value="AMAZON" <if condition="$order.kd_name eq AMAZON">selected</if>>亚马逊物流</option>
								</select>
							</div>
						</div>
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">手动输入</label>
						<div class="col-sm-6">
							<input type="text" placeholder="请手动输入物流名称" id="sdwuliu"/>
						</div>
					</div>
					<div style="width: 100%;text-align: center;">
					<button onclick="fahuo({$order.id},{$order.type})" style="width: 90px;height: 40px;border: 0px; border-radius: 4px;">确认发货</button>
					<!--<button onclick="shouhuo({$order.id},{$order.type})" style="width: 90px;height: 40px;border: 0px; border-radius: 4px;">确认收货</button>-->
					<button onclick="wuliu({$order.id},{$order.type})" style="width: 90px;height: 40px;border: 0px; border-radius: 4px;">查看物流</button>
					</div>
				</div>
				<!--<div class="bg-success" style="padding:10px;margin:5px 0;">操作信息</div>-->

		    </div>
		
		  </div>
		</div>
		
	</div>
</div>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/admin/js/fileinput.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/js/fileinput_locale_zh.js" type="text/javascript"></script>
<script src="__PUBLIC__/admin/layer/layer.js"></script>
<script>
	$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
	function fahuo(order_id,type) {
		if(type != 0){

            kd_number = $('#kd_number').val();
            kd_name = $('#kd').val();
			sdwuliu = $("#sdwuliu").val();
			   $.ajax({
				type:'post',
				url:"{:U('fahuoxiugai')}",
				dataType:'json',
				data:{
                    kd_number:kd_number,
                    kd_name:kd_name,
                    sdwuliu:sdwuliu,
                    order_id:order_id
				},
				success:function (data) {
					if(data == 0){
						layer.msg('修改成功');
						setTimeout(function () {
							history.go(-1);
						},1000);
					}else{
						layer.msg('发货失败');
					}
				}
			});
				return;
		}
        kd_number = $('#kd_number').val();
		kd_name = $('#kd').val();
        sdwuliu = $("#sdwuliu").val();
		if(kd_number == null || kd_name == -1){
		    if(sdwuliu == ''){
                layer.msg('请填写物流信息');
                return;
			}
		}
		var index = layer.load(2,{
		    shade:[0.6,"#000"]
		})
		$.ajax({
		    type:'post',
			url:"{:U('fahuo')}",
			dataType:'json',
			data:{
                kd_number:kd_number,
                kd_name:kd_name,
				sdwuliu:sdwuliu,
				order_id:order_id
			},
			success:function (data) {
		        layer.close();
				if(data == 0){
				    layer.msg('发货成功');
                    setTimeout(function () {
                        history.go(-1);
                    },1000);
				}else{
				    layer.msg('发货失败');
				}
            },
			error:function (data) {
				layer.close();
				layer.msg('网络错误');
            }
		});
    }

    function wuliu(order_id,type) {
		if(type == 0){
		    layer.msg('请先发货');
			return;
		}
        location.href = "{:U('showWuliu')}?order_id=" + order_id;
    }
	
	function goLastPage(p){
		location.href = "{:U('order')}?p=" + p;
	}

</script>