<table class="table table-striped table-hover" style="font-size:14px;table-layout:fixed">
			<th>ID</th>
			<th>名称</th>
			<th>创建时间</th>
			<th>库存</th>
			<th>游戏</th>
			<th>排序</th>
			<th>操作</th>
			<volist name="good_list" id="vv" key="kk">
			<tr height="20px" style="overflow:hidden">
				<td>{$vv.id}</td>
				<td>{$vv.good_name}</td>
				<td><button type="button" class="btn btn-link">{$vv.time|date="Y-m-d H:i:s",###}</button></td>
				<td>∞</td>
				<td><if condition="$vv['is_game'] eq 1"><input type="checkbox" checked="checked" class="icon-check icon-large" data_id="{$vv.id}" alt="{$vv.is_game}" data="is_game"/><else /><input type="checkbox" class="icon-check-empty icon-large" data_id="{$vv.id}" alt="{$vv.is_game}" data="is_game"/></if></td>
				<td>{$vv.code}</td>
				<td>
				<a href="{:U('goodedit')}?good_id={$vv.id}&p={$p}"><button type="button" class="btn btn-default btn-sm">修改</button></a>
				<button type="button" class="btn btn-default btn-sm" onclick="del(this,'{$vv.id}')">删除</button></td>
			</tr>
			</volist>
		</table>
		<div class="pagelist">{$page}</div>
<script>
$('.icon-large').click(function(){
	var good_id = $(this).attr("data_id");//alert(good_id);
	var type = $(this).attr("data");//alert(type);
	var type_id = $(this).attr("alt");//alert(type_id);
	$(this).attr("id","change");
	
	$.ajax({
		type: "POST",
		url: "{:U('changetype')}",
		dataType: "json",
		data: {"good_id":good_id,"type_id":type_id,"type":type},
		success: function(json){
			if(json.success==1){
				if(json.type == 1){
					$('#change').removeClass('icon-check-empty');$('#change').addClass('icon-check');$('#change').attr('alt','1');
				}else{
					$('#change').removeClass('icon-check');$('#change').addClass('icon-check-empty');$('#change').attr('alt','0');
				}
				$('#change').attr("id","");	
			}else{
				layer.msg("处理失败，请重新尝试");				
			}
		},
		error:function(){
			layer.msg("发生异常！");
		}
	});
});
</script>