<table class="table table-bordered table-hover">
	<th width="5%">订单号</th>
	<th>支付时间</th>
	<th>会员ID</th>
	<th>收货人</th>
	<th>总金额</th>
	<th>支付状态</th>
	<th>发货状态</th>
	<th>操作</th>
	<volist name="order_info" id="vv" key="kk">
	<tr id="{$kk}">
		<td width="5%">{$vv.order_sn}</td>
		<td>{$vv.pay_time|date="Y-m-d H:i:s",###}</td>
		<td>{$vv.user_id}</td>
		<td width="30%">{$vv.address}</td>
		<td>{$vv.price}</td>
		<td><if condition="$vv.state eq 1 ">已支付<else /> <font color="red">未支付</font></if></td>
		<td>
		<if condition="$vv.state eq 1 ">
		<if condition="$vv.type eq 0 ">
			<if condition="$vv.game_type eq 0 ">
				<if condition="$vv.game_state eq 1">
					<font color="blue" size="4">升级失败未提货</font>
					<elseif condition="$vv.game_state eq 2"/>
					<font color="blue" size="4">升级成功未提货</font>
					<elseif condition="$vv.game_state eq 0"/>
					<font color="blue" size="4">未升级</font>
				</if>

			<elseif condition="$vv.game_type eq 1"/>
				<if condition="$vv.game_state eq 1">
					<font color="red" size="4">升级失败已提货,未发货</font>
					<elseif condition="$vv.game_state eq 2"/>
					<font color="red" size="4">升级成功已提货,未发货</font>
				</if>
			<elseif condition="$vv.game_type eq 2"/>
				<font color="black" size="4">升级成功已退货</font>
			</if>
		</if>
		<if condition="$vv.type eq 1 "><font color="#000" size="4">待收货</font></if>
		<if condition="$vv.type eq 2 "><font color="#555">已收货</font></if>
		<else />
		<font color="#555">未支付</font>
		</if>
		</td>
		<td>
		<a href="{:U('gameOrder_more')}?pay_id={$vv.id}&page={$p}"><button class="btn btn-default btn-sm">详情</button></a>
		</td>
	</tr>
	</volist>
</table>
<div class="pagelist">{$page}</div>
<script>
	function confirm(order_id){
	    $.ajax({
	        type:"post",
	       url:"{:U('orderConfirm')}",
			dataType:"json",
			data:{
	            order_id:order_id,
			},
			success:function (data) {
				if(data == 0){
				    layer.msg('确认订单成功');
				    setTimeout(function () {
						history.go(0);
                    },1000);
				}else{
				    layer.msg('未知错误');
				}
            }
		});
	}
</script>