.goods_info {
	background: #fff;
}

.goods_info .info {
	padding: 10px;
}

.goods_info .goods_name {
	color: #000;
}

.goods_info .goods_price {
	color: red;
	margin: 15px 0;
}

.goods_info .xl {
	margin-right: 20px;
}

.bz_text {
	padding: 10px;
	box-sizing: border-box;
	background: #e5e5e5;
}

.cart_link {
	background: #fff;
	height: 40px;
	line-height: 40px;
	margin: 10px 0;
}

.pingjia {
	background: #fff;
}

.flex_wrap {
	display: flex;
}

.flex {
	flex: 1;
}

.fixed_tab .flex {
	text-align: center;
}

.more {
}

.pingjia .pj_num{padding: 10px;border-bottom: 1px #f0f0f0 solid;}
.pingjia .pj_box{padding: 10px;}
.pingjia .user_header{margin-right: 10px; width: 40px;height: 40px;vertical-align: middle;border-radius: 50%;}
.pingjia .user_name{vertical-align: middle;color: #000;}
.pingjia .ratings{margin-left: 50px;}
.pingjia .date{text-align: right;font-size: 12px;}
.pingjia .look_border{text-align: center;padding: 15px 0;}
.pingjia .look_more{padding: 5px;border: 2px red solid;border-radius: 4px;color:red;font-size: 12px;}
.tu_wen{background: #fff;text-align: center;padding:0 10px;margin-top: 10px;}
.tu_wen .cent_text{height: 40px;line-height: 40px;color: red;}
.more_pj{border-bottom: 1px #f0f0f0 solid;}

/***********************加入购物车*******************************
 * **********************************************
 */
/*.test {
	line-height: 1.3;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 14px;
	height: 36px;
}

.number , .size ,.color {
	padding: 0 10px 10px;
}

.enter-btn {
	font-size: 14px;
	color: red;
	background: #FF8F09;
	color: #fff;
}

.add-cart-box .r-close {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.add-cart-box .r-close img {
	width: 20px;
	display: block;
}

.add-cart-box .goods-box {
	padding: 10px;
	position: relative;
	border-bottom: 1px #f0f0f0 solid;
	padding-top: 0;
}

.add-cart-box .goods-box .goods-img {
	width: 80px;
	height: 80px;
	display: block;
}

.add-cart-box .goods-box .goods-name {
	position: absolute;
	top: 10px;
	left: 100px;
	height: 80px;
	right: 10px;
}
*/
.color li {
	float: left;
	width: 25%;
	text-align: center;
}

.option , .option-size {
	float: left;
	height: 38px;
	line-height: 38px;
	border: 1px #ddd solid;
	text-align: center;
	min-width: 2em;
	padding: 0 7px;
	color: #333333;
	margin: 0 10px 10px 0;
	position: relative;
}

.active {
	border: 1px #E4393C solid;
}

.option_selected:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	right: -1px;
	bottom: -1px;
	background: url(../img/box_icon.png) no-repeat;
	background-size: 100px auto;
	background-position: -80px -106px;
}

.color .tit {
	margin-top: 10px;
}

.color .tit ,.size .tit, .number .tit {
	margin-bottom: 10px;
}

.num_wrap span,.num_wrap input {
	float: left;
	width: 38px;
	height: 38px;
	line-height: 38px;
	border: 1px #ddd solid;
	background: #eee;
	text-align: center;
	position: relative;
}

.num_wrap .minus,.num_wrap .plus {
	position: relative;
}

.num_wrap .minus:after {
	content: '';
	width: 16px;
	height: 4px;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -2px;
	margin-left: -8px;
	background: #39312f;
}

.num_wrap .num {
	font-size: 16px;
	width: 70px;
	border-left: 0;
	border-right: 0;
	background: #fff;
}

.num_wrap .plus:after {
	content: '';
	width: 16px;
	height: 4px;
	border-radius: 2px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-top: -2px;
	margin-left: -8px;
	background: #39312f;
}

.num_wrap .plus:before {
	content: '';
	width: 4px;
	height: 16px;
	border-radius: 2px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin-top: -8px;
	margin-left: -2px;
	background: #39312f;
}