<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 <meta content="telephone=no" name="format-detection">
<title>支付宝付款</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/loader.css">
<script src="__PUBLIC__/js/loader.js"></script>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/weui.new.css">
<link rel="stylesheet" href="__PUBLIC__/css/jquery.fullPage.css">
<script src="__PUBLIC__/js/jquery.fullPage.min.js"></script>
<script src="__PUBLIC__/js/xigua.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/ali_font/iconfont.css">
<style>
.btn{width:80%;border-style:none;line-height:35px;background: #f3b30b;left:0%;text-align: center;font-size: 16px;color:#fff;border-radius: 0px;margin:0 auto;margin-top: 10%;}
span{display:inline-block;background: #f3b30b;color: #fff;width:20px;height:20px;line-height: 20px; border-radius: 50%;text-align: center;}
</style>
<script>
$(function(){
    $('#fullpage').fullpage({
        'css3': true,
        'paddingTop':'-444',
    })
 })
</script>
<script type="text/javascript">
    // 对浏览器的UserAgent进行正则匹配，不含有微信独有标识的则为其他浏览器
    var useragent = navigator.userAgent.toLowerCase();
   if(useragent.match(/MicroMessenger/i) !="micromessenger"){
       	location.href="{$html_text}"
   }
</script>
</head>
<body style="text-align: center;padding-top: 10%;color: #555;">
	<img src="__PUBLIC__/images/alipay_top.png" width="60%" alt="">
	<div style="margin:20px 0 10px;">您需要进行一下操作以便使用支付宝完成支付</div>
	<div style="text-align: left;margin-left: 20%;border-left:2px solid #f3b30b;color: #f3b30b">
	<div style="margin:20px 0;"><span>1</span>点击屏幕右上角菜单按钮</div>
	<div style="margin:20px 0;"><span>2</span>选择 在浏览器打开 </div>
	<div style="margin:20px 0;"><span>3</span>完成支付，返回微信</div>
	</div>
	<a onclick="jumpUrl({$order_id})"><button class="btn">支付已完成</button></a>
	
</body>
<php>
$weixin = A("Wxapi/Weixin");
$signPackage=$weixin->getSignPackage();
</php>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
	function jumpUrl(order_id){
		if(order_id == 0){
            href="{:U('/Home/Index/index')}?agent_id={$Think.get.agent_id}"
		}else{
            $.ajax({
                type:"post",
                url:"{:U('Home/Goods/redirectUrl')}",
                dataType:"json",
                data:{
                    order_id:order_id,
                },
                success:function(data){
                    if(data == -1){
                        location.href="{:U('Home/Goods/myOrder')}";
                    }else if(data == 1){
                        location.href="{:U('Home/Goods/orderInfo')}?order_id=" + order_id;
                    }
                }
            });
		}

    }
</script>
<script>
wx.config({
            debug: false,
            appId: '<?php echo $signPackage["appId"];?>',
            timestamp: <?php echo $signPackage["timestamp"];?>,
            nonceStr: '<?php echo $signPackage["nonceStr"];?>',
            signature: '<?php echo $signPackage["signature"];?>',
            jsApiList: [
                // 所有要调用的 API 都要加到这个列表中
                'checkJsApi',
                'addCard',
                'chooseCard',
                'openCard',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'closeWindow',
                'hideOptionMenu',
                'hideAllNonBaseMenuItem',
                'showMenuItems',
                'showAllNonBaseMenuItem',
                'hideMenuItems',
                'menuItem:profile'
              ]
        });
wx.ready(function(){
   // wx.hideAllNonBaseMenuItem();//alert('<?php echo $paysign["timeStamp"];?>');"menuItem:copyUrl","menuItem:openWithSafari",
  wx.hideAllNonBaseMenuItem();
	wx.showMenuItems({
		menuList: ["menuItem:openWithSafari","menuItem:openWithQQBrowser"] // 要隐藏的菜单项，只能隐藏“传播类”和“保护类”按钮，所有menu项见附录3
	});
});
</script>
</html>